body
  font-family: hevetica, sans-serif
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  max-width: 800px
  min-width: 200px

#header
  background-color: #666
  color: #fff
  padding: 4px
  font-size: 16px
  font-weight: bold
  a
    color: #fff

#content
  margin-top: 20px
  width: 80%
  .example
    display: block
    float: left
    clear: both
    margin-top: 1em
    margin-bottom: 10px
  #button

