!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Plain Components
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "application.css", :rel => "stylesheet", :type => "text/css"}/
    -# Testing JQuery UI
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery-ui/jquery-ui.js", :type => "text/javascript"}
    %link{:href => "../../vendor/jquery-ui/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../../resources/layout/cc-logo.png")
      %h1
        %a(href="http://lab.dev.concord.org/test_components/application.html")
          Testing Components
    #content
      .example
        Simple Slider:
        %br
        #simple_slider
        %br
      .example
        Simple Vertical Slider:
        .component
          #simple_vertical_slider{:style=> "width: 1em; height: 10em; padding: 1em; margin: 0.5em"}

      .example
        Slider (with value label):
        .component
          #slider{'data-label' => 'value'}
      .example
        JQuery-UI Slider (with value label):
        %br
        #jslider{'data-label' => 'value', 'data-label-id' => "#jslider_label"}
        #jslider_label{:style => "font-size: 0.4em;"}
        %br
      .example
        Sample Button:
        %br
        #button1
        %br
      .example
        ToggleButton:
        %br
        #toggle_button
        %br
      .example
        Buttonbar:
        %br
        #button_bar
        %br
      .example
        Simple PlaybackBar:
        %br
        #simple_player
        %br
      .example
        PlaybackBar with stepping:
        %br
        #player
        %br
    %script{:src => "../../lab/lab.components.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}