/bin
.bundle
.sass-cache
/node_modules
npm-debug.log
/test/*.html
.DS_Store
*.sublime-workspace
/*.log
/server/config/couchdb.yml
/server/public
/config/config.yml
/java
/lab.md-analysis
/lab.performance
/config/deploy