[submodule "src/vendor/d3"]
	path = src/vendor/d3
	url = git://github.com/mbostock/d3.git
[submodule "src/vendor/science.js"]
	path = src/vendor/science.js
	url = git://github.com/jasondavies/science.js.git
[submodule "src/vendor/sizzle"]
	path = src/vendor/sizzle
	url = git://github.com/jquery/sizzle.git
[submodule "src/vendor/hijs"]
	path = src/vendor/hijs
	url = git://github.com/cloudhead/hijs.git
[submodule "src/vendor/modernizr"]
	path = src/vendor/modernizr
	url = git://github.com/Modernizr/Modernizr.git
[submodule "src/vendor/jquery"]
	path = src/vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "src/vendor/mathjax"]
	path = src/vendor/mathjax
	url = git://github.com/mathjax/MathJax.git
[submodule "config/littlechef"]
	path = config/littlechef
	url = git://github.com/concord-consortium/littlechef-servers.git
[submodule "src/vendor/dsp.js"]
	path = src/vendor/dsp.js
	url = git://github.com/concord-consortium/dsp.js.git
[submodule "src/vendor/d3-plugins"]
	path = src/vendor/d3-plugins
	url = git://github.com/d3/d3-plugins.git
[submodule "src/vendor/lightgl.js"]
	path = src/vendor/lightgl.js
	url = git://github.com/evanw/lightgl.js.git
[submodule "src/vendor/requirejs"]
	path = src/vendor/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "src/vendor/text"]
	path = src/vendor/text
	url = git://github.com/requirejs/text.git
[submodule "src/vendor/almond"]
	path = src/vendor/almond
	url = git://github.com/jrburke/almond.git
[submodule "src/vendor/domReady"]
	path = src/vendor/domReady
	url = git://github.com/requirejs/domReady.git
[submodule "src/vendor/codemirror"]
	path = src/vendor/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "src/vendor/jquery-ui"]
	path = src/vendor/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "src/sass/neat"]
	path = src/sass/neat
	url = git://github.com/thoughtbot/neat.git
[submodule "src/vendor/tinysort"]
	path = src/vendor/tinysort
	url = git://github.com/Sjeiti/TinySort.git
