*~
/bin
/public
/src/lab/lab.version.js
/src/lab/lab.config.js
.bundle
.sass-cache
/node_modules
npm-debug.log
/test/*.html
.DS_Store
*.sublime-workspace
/*.log
/config/config.yml
/java
/sensor-projects
/config/deploy
src/experiments/inquiry-space-importer/reference/Importer.js
config/littlechef
tarballs
archived
# ignore Java keystore files, except the sample one included with lab
/config/*.jks
!/config/lab-sample-keystore.jks
