[submodule "vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "vendor/fonts/Font-Awesome"]
	path = vendor/fonts/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor/lab-sensor-applet-interface"]
	path = vendor/lab-sensor-applet-interface
	url = https://github.com/concord-consortium/lab-sensor-applet-interface.git
[submodule "vendor/lab-sensor-applet-interface-dist"]
	path = vendor/lab-sensor-applet-interface-dist
	url = https://github.com/concord-consortium/lab-sensor-applet-interface-dist.git
[submodule "vendor/lab-grapher"]
	path = vendor/lab-grapher
	url = https://github.com/concord-consortium/lab-grapher.git
[submodule "vendor/sensor-labquest-2-interface"]
	path = vendor/sensor-labquest-2-interface
	url = https://github.com/concord-consortium/sensor-labquest-2-interface.git
[submodule "vendor/sensor-connector-interface"]
	path = vendor/sensor-connector-interface
	url = https://github.com/concord-consortium/sensor-connector-interface.git
[submodule "vendor/components-jqueryui"]
	path = vendor/components-jqueryui
	url = https://github.com/components/jqueryui
[submodule "vendor/d3"]
	path = vendor/d3
	url = https://github.com/d3/d3.git
