*~
/bin
/server/bin
/src/lab/lab.version.js
/src/lab/lab.config.js
.bundle
.sass-cache
/node_modules
npm-debug.log
/test/*.html
.DS_Store
*.sublime-workspace
/*.log
/server/config/couchdb.yml
/server/public
/config/config.yml
/java
/sensor-projects
/lab.*
**/couchdb.stderr
**/couchdb.stdout
/config/deploy
src/experiments/inquiry-space-importer/reference/Importer.js