.graph {
  position: relative;
  background: rgba(255, 255, 255, 0); }
  .graph:focus {
    outline: #76d2b8 solid 0.2em; }
  .graph div.background {
    position: absolute;
    background: #efefef; }
  .graph div.button-layer {
    position: absolute;
    text-align: right; }
    .graph div.button-layer a {
      opacity: 0.3;
      color: black;
      font-size: 120%; }
    .graph div.button-layer a:hover {
      opacity: 1; }
  .graph canvas.overlay {
    position: absolute;
    border: solid 1px red;
    background: rgba(0, 255, 0, 0.05); }

svg.graph:focus {
  outline: #76d2b8 solid 0.2em; }
svg.graph text.title {
  font-size: 0.9em; }
svg.graph text.ylabel {
  font-size: 0.8em; }
svg.graph text.xlabel {
  font-size: 0.8em; }
svg.graph text.axis {
  font-size: 0.8em; }
  svg.graph text.axis:focus {
    outline: #76d2b8 solid 0.2em; }

.bar-graph .hidden {
  display: none; }
.bar-graph .triangle {
  stroke: #555555;
  stroke-width: 2px;
  fill: #eeeeee; }
