body {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  background-image: url(resources/diagonal-lines.jpg);
  background-repeat: repeat;
  margin: 10px;
    margin-bottom: 0px; }

#main {
  background-color: #f2f8fc;
  color: #00233a;
  border: 1px solid;
  display: inline;
  float: left;
  padding: 10px;
  height: auto;
  margin-right: 0;
  min-height: 600px;
  width: 900px; }

h1 {
  color: #5f5f5f;
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: bold;
  font-size: 1.6em;
  border-top: 3px solid #aaaaaa;
  padding-top: 0.5em;
  margin: 1.5em 0em 0.6em 0em; }
  h1:first-child {
    margin-top: 0;
    padding-top: 0.25em;
    border-top: none; }

h2 {
  color: #5f5f5f;
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: bold;
  font-size: 1.4em;
  border-top: 6px double #d0d0d0;
  margin: 1.5em 0em 0.6em 0em;
  padding-top: 1.0em; }
  h2:first-child {
    margin-top: 0;
    padding-top: 0.25em;
    border-top: none; }

h3 {
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: normal;
  font-size: 1.2em;
  margin: 1.4em 1.0em 0.6em 0em;
  padding-top: 0.8em;
  border-top: 2px solid #e0e0e0; }

h4 {
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: normal;
  font-size: 1.125em;
  margin: 0.6em 2.0em 0.6em 0em;
  padding-top: 0.4em; }

h5 {
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: normal;
  font-size: 1.1em;
  margin: 0.6em 2.0em 0.6em 0em;
  padding-top: 0.2em; }

h5 {
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: normal;
  font-size: 1.05em;
  margin: 0.6em 2.0em 0.6em 0em;
  padding-top: 0.2em; }

a {
  text-decoration: none; }

p {
  margin: 1em 0;
  line-height: 1.5em; }

ul {
  margin: 1em 0em; }
  ul li {
    margin: 0.5em 0em; }

ol {
  margin: 1em 0em; }
  ol li {
    margin: 0.5em 0em; }

blockquote {
  margin: 1em 0em;
  border-left: 5px solid #dddddd;
  padding-left: 0.6em;
  color: #555555; }

dl {
  width: 100%;
  margin: 1em; }

dt {
  float: left;
  margin-left: 1%;
  width: 27%; }

dd {
  float: left;
  margin-bottom: 0.6em;
  margin-left: 0;
  width: 72%; }

table {
  margin: 1em 0; }
  table th {
    border-bottom: 1px solid #bbbbbb;
    padding: 0.2em 1em; }
  table td {
    border-bottom: 1px solid #dddddd;
    padding: 0.2em 1em; }

pre {
  margin: 1em 1em;
  font-size: 88%;
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  padding: 0.5em;
  line-height: 1.5em;
  color: #444444;
  overflow: auto; }
  pre code {
    padding: 0;
    font-size: 100%;
    background-color: #f8f8ff;
    border: none; }

code {
  font-size: 90%;
  background-color: #f8f8ff;
  color: #444444;
  padding: 0 0.2em;
  border: 1px solid #dedede; }
  code .keyword {
    font-weight: bold; }
  code .string, code .regexp {
    color: darkgreen; }
  code .class, code .special {
    color: darkblue; }
  code .number {
    color: darkred; }
  code .comment {
    color: grey; }

a code {
  color: darkblue; }

pre.console {
  margin: 1em 0;
  font-size: 90%;
  background-color: black;
  padding: 0.5em;
  line-height: 1.5em;
  color: white; }
  pre.console code {
    padding: 0;
    font-size: 100%;
    background-color: black;
    border: none;
    color: white; }
