* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#content {
  margin-left: 2em; }

.top {
  margin-top: 0.5em;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .top:before, .top:after {
    content: " ";
    display: table; }
  .top:after {
    clear: both; }

.component_group {
  display: block; }

#interactive-description {
  display: table-cell;
  padding-right: 2.35765%;
  width: 25.58941%;
  position: relative;
  margin: 0.5em 1em;
  width: 25em; }
  #interactive-description:last-child {
    width: 23.23176%;
    padding-right: 0; }

#interactive-container {
  display: table-cell;
  padding-right: 2.35765%;
  width: 51.17883%;
  position: relative; }
  #interactive-container:last-child {
    width: 48.82117%;
    padding-right: 0; }

#right-panel {
  display: table-cell;
  padding-right: 2.35765%;
  width: 25.58941%;
  margin: 2em; }
  #right-panel:last-child {
    width: 23.23176%;
    padding-right: 0; }

#right-panel div {
  margin-bottom: 2em; }

.energy2d-scene-view {
  display: inline-block;
  position: relative; }

.energy2d-simulation-player {
  width: auto; }

.energy2d-description {
  margin: 0em 2em;
  display: inline;
  position: relative;
  vertical-align: top; }

.energy2d-description-title {
  font-size: 120%;
  font-weight: bold;
  margin: 0em 0em 0.7em 0em; }

.energy2d-description-tagline {
  font-size: 110%;
  margin: 0.5em 0em 0.5em 0em; }

.energy2d-description-content {
  font-size: 95%;
  margin: 0.5em 0em 1em 0em; }

.energy2d-description-footnote {
  font-size: 90%;
  font-style: italic;
  margin: 1em 0em 1em 0em; }
