@import url('molecules-view.css');

/*
  Implementation of "Complex Atoms Model" with layout & model initialization redone from scratch as
  much as possible.
*/

body {
  margin: 0;
  min-width: 480px;
}

#main {
  width: 95%;
  margin: 0 auto;
}

#molecules {
  width: 100%;
}

/* media queries */
@media screen and (min-width: 820px) {
  #molecules {
    float: right;
    width: 57%;
  }

  #description {
    float: left;
    width: 38%;
  }
}

@media screen and (min-width: 1280px) {
  #main {
    width: 1216px;
  }
}
