@import url('molecules-view.css');

/*
  Implementation of "Complex Atoms Model" with layout & model initialization redone from scratch as
  much as possible.
*/

#molecules {
  width: 60%;
  min-width: 512px;
  max-width: 960px;
  background: yellow;
}
