/*
  Implementation of "Complex Atoms Model" with layout & model initialization redone from scratch as
  much as possible.
*/

#molecules {
  width: 60%;
  min-width: 512px;
  max-width: 960px;
  background: yellow;
}

/* Styles used by internally by the molecule view to make it behave basically like an img tag */
.molecules-view {
  display: inline-block;
  vertical-align: top;
}

.molecules-view-aspect-container {
  position: relative;

  /* A trick that sets this div's height to 100% of its width, by making use of the fact that
     padding is represented in units of this element's width.

     The values below represent a default 1:1 aspect ratio. TODO: The padding values can be
     overridden by the moleculesView for models with different aspect ratios (after padding is
     taken into account)
  */
  padding-top: 50%;
  padding-bottom: 50%;
  height: 0;

  top: 0;
  left: 0;
  right: 0;
}

.molecules-view-svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
