.thermometer {
  display: inline-block;
  width: 1em;
  height: 12em;
  margin: 0.5em 3em 0.5em 3em;
  padding: 2px;
  border: 1px solid #f4b626;
  border-radius: 5px; }

.therm_text {
  display: block;
  width: 6.5em;
  height: 1.5em;
  margin-left: 0.5em;
  padding: 0em 0em;
  font-size: 1em;
  overflow: hidden; }

.component {
  display: inline-block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  vertical-align: top;
  overflow: hidden;
  margin: 5px;
  padding: 2px; }
  .component div {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px; }

.slider_content {
  margin: 0em;
  padding: 0em; }

.slider {
  left: 0px;
  top: 0px;
  width: 16em;
  height: 1.4em; }
  .slider .slider_well {
    width: 100%;
    height: 80%;
    background: #bddfdf;
    border: 1px solid #8cbbb8;
    cursor: pointer;
    border-radius: 0.5em; }
    .slider .slider_well:hover {
      background: #eeeeee; }
    .slider .slider_well .slider_fill {
      background-color: #8cbbb8;
      position: absolute;
      height: 100%; }
    .slider .slider_well .handle {
      width: 1.4em;
      height: 1.4em;
      border-radius: 0.7em;
      left: 1em;
      top: 1em;
      position: absolute;
      background-color: #3a878b; }
      .slider .slider_well .handle:hover {
        background-color: #2b6467; }
  .slider .label {
    width: 100%;
    height: 20%;
    font-color: blue;
    font-size: 9px; }

.playback {
  display: inline-block;
  width: 20em;
  height: 3.4em;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 0px;
  cursor: pointer; }
  .playback .button-art {
    stroke-width: 0.4em;
    fill: white;
    stroke: #aaaaaa;
    stroke-linecap: round;
    stroke-linejoin: round; }
  .playback .button-art:hover {
    stroke: #777777; }
  .playback .play.button-art {
    fill: #999999; }
  .playback .play.button-art:hover {
    fill: #777777; }
  .playback .stop.button-art {
    fill: #999999; }
  .playback .stop.button-art:hover {
    fill: #777777; }

.playbacksvg {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
  fill: red; }
  .playbacksvg .button-art {
    stroke-width: 2px;
    fill: white;
    stroke: #999999;
    stroke-linecap: round;
    stroke-linejoin: round; }
  .playbacksvg .button-art:hover {
    stroke: #777777; }
  .playbacksvg .play.button-art {
    fill: #999999; }
  .playbacksvg .play.button-art:hover {
    fill: #777777; }
  .playbacksvg .stop.button-art {
    fill: #999999; }
  .playbacksvg .stop.button-art:hover {
    fill: #777777; }

.component.button {
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  width: 3em;
  height: 3em;
  position: static;
  float: left;
  clear: none;
  background-color: rgba(250, 216, 209, 0.1);
  background-size: 100%;
  opacity: 0.7; }
  .component.button:hover {
    background-color: rgba(240, 138, 117, 0.1);
    opacity: 0.8; }
  .component.button.up {
    background-color: rgba(250, 216, 209, 0.1);
    opacity: 0.7; }
    .component.button.up:hover {
      opacity: 0.8;
      background-color: rgba(240, 138, 117, 0.1); }
  .component.button.down {
    opacity: 1;
    background-color: rgba(230, 59, 25, 0.1); }
  .component.button.hidden {
    display: none; }
.component.play {
  background-image: url(../../resources/play.png); }
.component.pause {
  background-image: url(../../resources/pause.png); }
.component.reset {
  background-image: url(../../resources/reset.png); }
.component.forward {
  background-image: url(../../resources/forward.png); }
.component.back {
  background-image: url(../../resources/back.png); }
.component.toggle {
  display: inline-block;
  overflow: hidden;
  background-color: none;
  opacity: 1; }
  .component.toggle .button {
    padding: 0px;
    margin: 0px;
    border: none; }
.component.button_bar {
  padding: 0px;
  display: block;
  border-radius: 5px;
  border: 1px solid #aaaaaa; }
  .component.button_bar .button {
    margin: 4px; }
