html
  head
    title Legacy MML runnables
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&amp;subset=latin,greek,latin-ext', rel='stylesheet', type='text/css')
    link(href='../../index.css', rel='stylesheet', type='text/css')
  body
    div(id='header')
      a(href='http://www.concord.org/', id='logo')
        img(src='../../resources/layout/cc-logo.png')
      h1 Imported CML Files and the conversions of their models
    ul
      each jsons, cml in cmlToJsonHash
        li
          url = 'http://mw2.concord.org/tmp.jnlp?address=' + cml
          shorterCml = cml.replace('imports/legacy-mw-content/', '')
          a(href=url) #{shorterCml}
          ul
            each json in jsons
              shorterJson = json.replace('./imports/legacy-mw-content/', '')
              li #{shorterJson}