//- variables
simpleModel  = "/examples/simple-atoms-model/simple-atoms-model.html"
complexModel = "/examples/complex-atoms-model/complex-atoms-model.html"
folderName   = "/imports/legacy-mw-content/"

html
  head
    title Legacy MML runnables
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&amp;subset=latin,greek,latin-ext', rel='stylesheet', type='text/css')
    link(href='../../index.css', rel='stylesheet', type='text/css')
  body
    div(id='header')
      a(href='http://www.concord.org/', id='logo')
        img(src='../../resources/layout/cc-logo.png')
      h1 Imported CML Files and the conversions of their models
    div(class='item-list')
      ul
        each jsons, cml in cmlToJsonHash
          li
            shorterCml = cml.replace('imports/legacy-mw-content/', '')
            a(class="convert-to-mw", href=cml) #{shorterCml}
            ul
              each json in jsons
                shorterJson = json.replace('converted/', '')
                li
                  a(href=simpleModel + "#" + folderName + json) Simple Model
                li
                  a(href=complexModel + "#" + folderName + json) Complex Model
    script(type="text/javascript")
      var mw = "http://mw2.concord.org/tmp.jnlp?address=",
          mwLinks = document.getElementsByClassName("convert-to-mw"),
          href = document.location.href,
          i, mwLink, path, newhref;
      for (i = 0; i < mwLinks.length; i++) {
        mwLink = mwLinks[i];
        path = mwLink.href;
        newhref = mw + path;
        mwLink.href = newhref;
      }
