@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Semibold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Light-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-Light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.eot"), url("../../../../vendor/fonts/open-sans-fontfacekit/OpenSans-LightItalic-webfont.ttf") format("truetype"); }

html {
  margin: 0em;
  padding: 0em; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 1em;
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #3f3f3f; }

h1 {
  color: white;
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: 600;
  font-size: 1.3em; }
  h1 a {
    text-decoration: none; }

h2 {
  color: #5f5f5f;
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: 600;
  font-size: 1.17em;
  margin-top: 0; }
  h2 a {
    text-decoration: none; }

h3 {
  font-family: "Open Sans", georgia, times, "times new roman", serif;
  font-weight: 600;
  font-size: 1.12em; }
  h3 a {
    text-decoration: none; }

a {
  text-decoration: none; }

.component {
  display: inline-block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 1em 1em 0 0;
  padding: 0; }
  .component div {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px; }
  .component span.radio {
    padding: 0em 0.5em; }

.component_group {
  display: inline-block; }

.draggable {
  cursor: move; }

.playbacksvg .button-art {
  border: none;
  fill: #777777 !important;
  stroke: transparent !important;
  stroke-width: 0 !important; }
.playbacksvg .bg {
  fill: #dddddd;
  stroke: #aaaaaa;
  stroke-width: 1px; }
.playbacksvg .highlight {
  border: solid 1px #cccccc;
  border-bottom: none;
  fill: white;
  opacity: 0.6;
  stroke: transparent;
  stroke-width: 0; }
.playbacksvg .pause-center {
  border: none;
  fill: #dddddd;
  stroke: transparent;
  stroke-width: 0; }

.playbacksvgbutton .button-art {
  border: none;
  fill: #777777 !important;
  stroke: transparent !important;
  stroke-width: 0 !important; }
.playbacksvgbutton .bg {
  fill: #dddddd;
  stroke: #aaaaaa;
  stroke-width: 1px; }
.playbacksvgbutton .highlight {
  border: solid 1px #cccccc;
  border-bottom: none;
  fill: white;
  opacity: 0.6;
  stroke: transparent;
  stroke-width: 0; }
.playbacksvgbutton .pause-center {
  border: none;
  fill: #dddddd;
  stroke: transparent;
  stroke-width: 0; }

.playbacksvgbutton:hover .button-art {
  fill: #777777 !important;
  stroke: transparent !important;
  stroke-width: 0 !important; }
.playbacksvgbutton:hover .bg {
  fill: #bbbbbb; }
.playbacksvgbutton:hover .highlight {
  opacity: 0.3; }
.playbacksvgbutton:hover .pause-center {
  fill: #bbbbbb; }

.playbacksvgbutton:active .button-art {
  fill: #666666 !important;
  stroke: transparent !important;
  stroke-width: 0 !important; }
.playbacksvgbutton:active .bg {
  fill: #a5a5a5; }
.playbacksvgbutton:active .highlight {
  opacity: 0.2; }
.playbacksvgbutton:active .pause-center {
  fill: #a5a5a5; }

select.component {
  font-size: 1em; }

button.component {
  display: inline-block;
  font-size: 1em;
  padding: 0.2em; }

.interactive-checkbox {
  margin: 1em 1em 0 0;
  display: inline-block; }
  .interactive-checkbox input[type="checkbox"] {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    padding: 0.2em 0.2em;
    font-size: 1.5em; }

.numeric-output {
  display: inline-block;
  margin-right: 1em; }
  .numeric-output span.label {
    display: inline-block;
    padding-right: 0.5em; }
  .numeric-output span.value {
    display: inline-block;
    padding: 0em 0.2em 0em 0.5em;
    min-width: 3em;
    text-align: right;
    font-weight: 600;
    border-bottom-style: dotted;
    border-color: Grey;
    border-width: 1px; }
  .numeric-output span.units {
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.5em;
    font-style: italic; }

.interactive-slider {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em 1em 0 0; }
  .interactive-slider .ui-slider .ui-slider-handle {
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    width: auto;
    min-width: 1.2em;
    min-height: 1.4em;
    padding: 0em 0.2em 0em 0.2em; }
  .interactive-slider .title {
    display: inline-block;
    font-size: 1em;
    margin: 0 0 0.5em 0;
    vertical-align: top; }
  .interactive-slider .container {
    position: relative;
    margin: 0 2em 1.2em 0;
    width: 12em; }
    .interactive-slider .container .html-slider {
      width: 100%; }
    .interactive-slider .container .label {
      position: absolute;
      top: 0.1em;
      width: 6em;
      margin-left: -3em;
      text-align: center;
      font-size: 0.8em; }

.textBoxBody {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5em; }
  .textBoxBody p {
    font-size: 2em;
    margin: 0.5em 0 0 0.5em;
    line-height: 1.3em; }

.interactive-thermometer {
  vertical-align: middle;
  height: 4em; }
  .interactive-thermometer .label {
    margin: 0;
    text-align: center;
    font-size: 1em; }
  .interactive-thermometer .thermometer {
    display: block;
    width: 2em;
    margin: auto;
    border: 2px solid #f4b626;
    position: relative;
    border-radius: 1.5em 1.5em 0.2em 0.2em; }
    .interactive-thermometer .thermometer div {
      display: block;
      position: relative;
      margin: 0px;
      padding: 0px; }
    .interactive-thermometer .thermometer .thermometer_fill {
      position: absolute;
      width: 70%;
      left: 15%;
      bottom: 0;
      background: #e16a3e;
      border-radius: 0.75em 0.75em 0em 0em; }

.properties-graph {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 7em;
  height: 7em;
  background: #f9eec1;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#iframe-wrapper {
  width: 925px;
  height: 575px;
  border: 2px #dddddd solid; }
  #iframe-wrapper iframe {
    width: 100%;
    height: 100%; }

#content-banner {
  z-index: 10;
  width: 100%;
  display: table;
  font-size: 1.1em;
  font-weight: 600;
  height: 5%;
  color: black;
  background-color: white; }
  #content-banner a {
    text-decoration: none;
    color: black; }

#interactive-container {
  width: 100%;
  height: 95%;
  position: relative; }

.aminoacids-menu {
  min-width: 9em;
  font-size: 0.9em;
  font-family: inherit;
  border: none; }
  .aminoacids-menu li {
    padding: 0 0 0 19%; }
  .aminoacids-menu li:hover {
    font-weight: bold; }
  .aminoacids-menu .pos-charge {
    background-repeat: no-repeat;
    background-position: 2%;
    background-size: auto 90%;
    background-image: url("../../resources/plus.svg"); }
  .aminoacids-menu .neg-charge {
    background-repeat: no-repeat;
    background-position: 2%;
    background-size: auto 90%;
    background-image: url("../../resources/minus.svg"); }
  .aminoacids-menu .hydrophobic {
    background-color: #f3c35d; }
  .aminoacids-menu .hydrophobic.marked {
    background-color: #ffe64b; }
  .aminoacids-menu .hydrophilic {
    background-color: #9dc278; }
  .aminoacids-menu .hydrophilic.marked {
    background-color: #bee299; }
  .aminoacids-menu .hydrophobic-category {
    font-size: 1.1em;
    font-weight: bold;
    padding: 2% 0 2% 14%;
    background-color: #e0a21b;
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: auto 40%;
    background-image: url("../../resources/col.svg"); }
  .aminoacids-menu .hydrophilic-category {
    font-size: 1.1em;
    font-weight: bold;
    padding: 2% 0 2% 14%;
    background-color: #75a643;
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: auto 40%;
    background-image: url("../../resources/col.svg"); }
  .aminoacids-menu .expanded {
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: auto 40%;
    background-image: url("../../resources/exp.svg"); }

.dna-edit-dialog {
  font-size: 0.9em; }
  .dna-edit-dialog .error {
    color: #cc0000; }

#model-container .radialbond1.disulphideBond, #model-container .radialbond2.disulphideBond {
  stroke: #ffe95a !important; }
#model-container .dna text {
  font-family: monospace;
  fill: #333333; }
  #model-container .dna text.shadow {
    stroke: #eeeeee;
    stroke-opacity: 0.7; }
#model-container .dna .marked-mrna {
  font-weight: bold;
  fill: #dd1111; }
#model-container text.modelTimeLabel {
  font-size: 1em; }
#model-container circle, #model-container .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }
#model-container text.title {
  font-size: 1em; }
#model-container text.xlabel {
  font-size: 0.85em; }
#model-container text.ylabel {
  font-size: 0.85em; }
#model-container g.y {
  font-size: 0.75em; }
#model-container g.x {
  font-size: 0.75em; }
#model-container div.tooltip {
  display: none;
  position: absolute;
  padding: 0.4em 0.6em;
  font-size: 0.9em;
  background: white;
  border: solid 1px #aaaaaa;
  border-radius: 0.8em;
  pointer-events: none; }
  #model-container div.tooltip pre {
    margin: 0.2em; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#applet-container {
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f9eec1;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  min-width: 20em;
  min-height: 20em;
  margin: 2px 1em 2px 0px;
  padding: 0.8em; }

applet {
  border: thin solid #eeeeee; }

#model-container {
  background: #f9eec1;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  #model-container:focus {
    outline: #2ecfec solid 0.2em; }
  #model-container line.attractionforce {
    stroke: #aaaaaa;
    stroke-width: 2.5;
    stroke-dasharray: 3 2; }
  #model-container circle {
    stroke: transparent;
    stroke-width: 1;
    fill: white;
    fill-opacity: 1; }
    #model-container circle.selected {
      fill: #ff7f0e;
      stroke: #ff7f0e; }
  #model-container rect {
    border: solid 1px #cccccc; }

#credits {
  float: left;
  vertical-align: middle;
  display: table-cell;
  opacity: 0.5; }
  #credits:hover {
    cursor: pointer;
    opacity: 1; }

#about, #share {
  float: right;
  vertical-align: middle;
  display: table-cell;
  margin-right: 2em;
  opacity: 0.5; }
  #about:hover, #share:hover {
    cursor: pointer;
    opacity: 1; }

#share-link {
  display: none; }

#credits-pane, #about-pane, #share-pane {
  display: none;
  position: absolute;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  width: 80%;
  height: auto;
  min-height: 8em;
  max-height: 80%;
  top: 3em;
  left: 4em;
  z-index: 100;
  margin: 0.5em;
  padding: 0em;
  background-color: #efefef; }
  #credits-pane p, #about-pane p, #share-pane p {
    margin-top: 1em;
    margin-bottom: 1em; }
  #credits-pane textarea, #about-pane textarea, #share-pane textarea {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    padding: 0.35em;
    width: 98%;
    height: auto;
    font-family: inherit;
    font-size: 0.9em; }
  #credits-pane textarea#share-iframe-content, #about-pane textarea#share-iframe-content, #share-pane textarea#share-iframe-content {
    height: 5em; }

#share-iframe-form {
  margin-top: 0.35em; }
  #share-iframe-form select {
    margin-bottom: 0.35em;
    font-size: 0.9em; }

#about-pane, #share-pane {
  left: inherit;
  right: 2em;
  min-height: 15em; }
  #about-pane p, #share-pane p {
    margin-top: 0.35em;
    margin-bottom: 0.35em; }

#share-pane {
  top: 2em;
  right: 4em;
  max-height: 90%; }

#credits-pane-banner, #about-pane-banner, #share-pane-banner {
  width: 100.2%;
  display: table;
  opacity: 0.7;
  margin: 0em;
  padding: 0.5em 1.3em;
  height: 1.25em;
  color: white;
  background-color: #58b5b9;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em; }
  #credits-pane-banner:hover, #about-pane-banner:hover, #share-pane-banner:hover {
    cursor: move; }

#credits-pane-title, #about-pane-title, #share-pane-title {
  vertical-align: middle;
  display: table-cell;
  font-size: 1em;
  font-weight: bold; }

#credits-pane-close, #about-pane-close, #share-pane-close {
  float: right;
  vertical-align: middle;
  display: table-cell;
  margin-left: 1em;
  font-size: 1em;
  font-weight: 600; }
  #credits-pane-close:hover, #about-pane-close:hover, #share-pane-close:hover {
    cursor: pointer;
    color: #dddddd; }

#credits-content, #about-content, #share-content {
  margin: 0 1em;
  font-size: 1em;
  display: inline-block;
  overflow: auto;
  width: 95%;
  max-height: 20em; }
  #credits-content p, #about-content p, #share-content p {
    font-weight: 600; }
  #credits-content a, #about-content a, #share-content a {
    text-decoration: none; }

#share-license {
  font-size: 0.8em; }
