!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Integration Methods
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "../../vendor/d3/d3.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %link{:href => "../examples.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../../resources/layout/cc-logo.png")
      %h1 Integration Methods
    .description
      %p
        Investigations of different integration methods ...
      %p
        References:
      %ul
        %li
          %a(href="http://www.gamedev.net/topic/374930-thoughts-on-velocity-verlet/") Thoughts on the Velocity-Verlet (gamedev.net)
          (John Schultz's comments and integration method sample code in particular.)
        %li
          %a(href="http://www.biomath.nyu.edu/index/papdir/fulllengths/pap_2_83.pdf") Stability of position-Verlet integration
        %li
          %a(href="http://sbel.wisc.edu/People/schafer/mdexperiments/node12.html") Velocity Verlet
        %li
          %a(href="http://matdl.org/matdlwiki/index.php/softmatter:Velocity_Verlet_Algorithm") softmatter:Velocity Verlet Algorithm
        %li
          %a(href="http://physics.ucsc.edu/~peter/242/leapfrog.pdf") The leapfrog method and other "symplectic" algorithms for integrating Newton’s laws of motion

    %button#run-benchmarks Run
    #benchmarks
      %table#benchmark-results

    %script{:src => "benchmark.js", :type => "text/javascript"}
    %script{:src => "integration-methods.js", :type => "text/javascript"}
