!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Next Generation Molecular Workbench
    %script{:src => "../../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "../../../vendor/d3/d3.js", :type => "text/javascript"}
    %script{:src => "../../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      $(document).ready(function() { if (!Modernizr.svg) { $('body').prepend('<div class="warning">Sorry, but you\'ll need to upgrade your browser to use the models and visualizations. <a href="browser-upgrade.html">Learn more</a> &raquo;</div>'); } });
    %link{:href => "../../../index.css", :rel => "stylesheet", :type => "text/css"}/
    = FONTFACE_LINK
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../../../lab/resources/layout/cc-logo.png")
      %h1<
        %a(href='../../../index.html')> Lab
        \:
        %a(href="") Next Generation Molecular Workbench: MD2D

    #under-header-links
      %a{:href => 'readme.html'} Read Me
      &nbsp;&nbsp;
      %a{:href => 'license.html'} License
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab'} Github Repository
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab/issues'} Github Issues
      &nbsp;&nbsp;
      %a{:href => 'https://www.pivotaltracker.com/projects/442903'} Pivotal Tracker Project
      &nbsp;&nbsp;
      %a{:href => 'https://groups.google.com/group/lab-models'} Developer Mail List
      &nbsp;&nbsp;
      %a{:href => 'experiments/navigator/index.html'} Browser Check

    .column1
      .item-list

        %h2
          2D Molecular dynamics
        %a{:href => '../../../interactives.html#interactives/samples/1-oil-and-water-shake.json'} Oil and Water
        .iframe-container
          %iframe{:width => 420, :height => 323, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/samples/1-oil-and-water-shake.json' }

        %h2
          Defining input and output controls for a model.
        %p
          The slider that controls temperature and the numeric output displaying gas volume
          are defined in JSON in the Interactive that wraps this model.
        %a{:href => '../../../interactives.html#interactives/sam/gas-laws/4-temperature-volume-relationship.json'} Temperature-Volume Relationship
        .iframe-container
          %iframe{:width => 420, :height => 323, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/sam/gas-laws/4-temperature-volume-relationship.json' }

        %h2
          Using macroscopic units
        %p
          Normally the MD2D engine uses units of femto-seconds and nano-meters however
          this Interactive is setup to use an optional mks unitsScheme.
        %a{:href => '../../../interactives.html#interactives/inquiry-space/pendulum/1-pendulum.json'} Pendulum
        .iframe-container
          %iframe{:width => 420, :height => 280, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/inquiry-space/pendulum/1-pendulum.json' }

        %h2
          Electric fields
        %p
          The electric field around the atoms can be displayed
        %a{:href => '../../../interactives.html#interactives/conversion-tests/amount-charge.json'} Amount of Charge
        .iframe-container
          %iframe{:width => 420, :height => 300, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/conversion-tests/amount-charge.json' }

    .column2
      .item-list
        %h2
          Status
        %p
          Useful general pages on this work:
        %ul
          %li
            %a{:href => 'http://mw.concord.org/nextgen/'} Next Generation Molecular Workbench
          %li
            %a{:href => 'http://mw.concord.org/modeler/'} Java Molecular Workbench
        %p
          %a{:href => 'https://github.com/concord-consortium/lab/tree/master/src/lab/md2d'} MD2D
          a 2D Molecular Dynamics simulation is the first and most extensive model-type
          implemented in the Lab framework.
        %p
          The MD2D engine is a re-implementation of elements of the Java application
          %a{:href => 'http://mw.concord.org/modeler/'} Molecular Workbench
          originally created by Charles Xie at the Concord Consortium.
      .item-list
        %h2 Molecular Dynamics Documentation/Support
        %ul
          %li
            %a{:href => 'macroscopic-units/'} Unit Transformations for Modeling Macroscopic Phenomena
          %li
            %a{:href => 'lennard-jones-potential/lennard-jones-potential.html'} Lennard-Jones Potential
          %li
            %a{:href => '../../../imports/legacy-mw-content/tutorial.html'} Java Molecular Workbench Tutorial/Reference Manual
          %li
            %a{:href => 'http://blog.concord.org/mw-applets-and-mwscript-javascript-interactions'} MW applets and MWScript-JavaScript interactions
          %li
            %a{:href => '../../../imports/legacy-mw-content/legacyMMLRunnables.html'} Big List of Converted Models

