!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Simple Atoms Model
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "../../vendor/d3/d3.v2.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/science.js/science.js", :type => "text/javascript"}
    %script{:src => "../../vendor/science.js/science.stats.js", :type => "text/javascript"}
    %script{:src => "http://use.typekit.com/hdw8ayt.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../examples.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../../lab/css/components.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "application.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../../resources/layout/cc-logo.png")
      %h1
        %a(href="http://lab.dev.concord.org/examples/simple-atoms-model/simple-atoms-model.html") Simple Atoms Model
      %img#fullscreen(class="size-full wp-image-1880" src="../../resources/layout/fullscreen.gif")
    #content
      %ul
        %li.top
          #viz
            %ul
              %li.top
                #molecule-container
              %li
                #thermometer
                #therm_text
            %ul
              %li
                .component_group
                  .slider_container
                    Lennard-Jones Attractive Force
                    .slider_content
                      #attraction_slider
                    .left_half
                      weaker
                    .right_half
                      stronger
                    .below
                      Attractive Force
              %li
                .component_group
                  .slider_container
                    Force Interactions
                    .left_half
                    .content
                      %div{:style=> "width: 10em; height: 2em; display: inline-block; margin: 0.5em"}
                        Coulomb
                        %input(id="coulomb-forces-checkbox" type="checkbox")
                    .below
                      %input(id="lennard-jones-forces-checkbox" type="checkbox" checked)
              %li
                .component_group
                  .slider_container
                    .left_half
                      Cool
                    .right_half
                      Heat
                    .content
                      #cool_button
                      #heat_button

        %li.top
          #description-right
            %p
              A computational simulation of a collection of simple atoms with the forces between
              the atoms modeled with both the Lennard-Jones Potential which models Pauli repulsion at
              short ranges and the attractive van der Waals forces acting over longer-ranges.
            %p
              Charges of +1 or -1 are evenly distributed among the atoms. When the Coulomb particle
              force interaction checkbox is enabled atoms with the opposite charges experience an
              attractive force. Atoms with a positive charge appear blue, atoms with a negative
              charge appear red.


    %script{:src => "../../lab/lab.layout.js", :type => "text/javascript"}
    %script{:src => "../../lab/lab.benchmark.js", :type => "text/javascript"}
    %script{:src => "../../lab/lab.arrays.js", :type => "text/javascript"}
    %script{:src => "../../lab/lab.graphx.js", :type => "text/javascript"}
    %script{:src => "../../lab/lab.molecules.js", :type => "text/javascript"}
    %script{:src => "../../lab/lab.components.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}