#molecule-container
  position: relative
  background-color: #F7F2C5
  width: 200px
  height: 200px
  border: solid 1px #ccc
  margin: 2px 0px 2px 0px
  circle
    stroke: darkred
    stroke-width: 1.0px
    fill: #fff
    fill-opacity: .2
    cursor: move
    &.selected
      fill: #ff7f0e
      stroke: #ff7f0e
  rect
    border: solid 1px #ccc


div.tooltip
  position: absolute
  text-align: center
  width: 80px
  height: 48px
  padding: 4px 8px
  font: 10px sans-serif
  background: #ddd
  border: solid 1px #aaa
  border-radius: 8px
  pointer-events: none

#lj-potential-chart
  position: relative
  background-color: #F7F2C5
  width: 180px
  height: 140px
  border: solid 1px #ccc
  margin: 2px 0px 2px 0px

#speed-distribution-chart
  position: relative
  background-color: #F7F2C5
  width: 180px
  height: 140px
  border: solid 1px #ccc
  margin: 2px 0px 2px 0px

#ke-chart
  position: relative
  background-color: #F7F2C5
  width: 280px
  height: 160px
  border: solid 1px #ccc
  margin: 2px 0px 2px 0px

text.index
  font: sans-serif
  text-anchor: middle

text.shadow
  font: sans-serif
  text-anchor: middle
  stroke: #fff
  stroke-width: 3px
  stroke-opacity: .8

#number-frame
  text-align: right
  legend
    text-align: left

#select-temperature-display
  margin: 0px 2px 0px 2px
  vertical-align: top

#thermometer
  display: inline-block
  width: 10px
  height: 200px
  margin: 5px
  padding: 2px
  border: 1px solid #aaa
  border-radius: 5px

#therm_text
  display: inline-block
  width: 100px
  height: 40px
  margin: 5px
  padding: 2px
  font-size: 12px
  font-family: monospace
  overflow: hidden

.slider_component
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  display: inline-block
  width: 200px
  height: 14px
  margin:  5px
  padding: 0px
  border: 1px solid #aaa
  svg
    cursor: pointer
  rect
    fill:  #988
  circle
    cursor: pointer
    opacitiy: 1
    fill-opacity: 1
    stroke-opacity: 1
    fill:   #666
    stroke: none
  circle:hover
    fill:  #fff
    stroke-width: 1px 
    stroke: #000
  text
    font-size: 10px
    color: black
    width: 100%
  border-radius: 5px
  background: #ddd

.slider_component:hover
  background: #eee

.playback_component
  display: inline-block
  width: 200px
  height: 30px
  border: 1px solid #aaa
  margin: 5px
  padding: 0px
