!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Simple Atoms Model
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %link{:href => "../examples.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../vendor/d3/d3.v2.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/science.js/science.v1.js", :type => "text/javascript"}
    %script{:src => "http://use.typekit.com/hdw8ayt.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "application.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #viz
      .top
        #molecule-container
        .therm
          #thermometer
          #therm_text
      .bottom
        .component_group
          .slider_container
            Intermolecular Attraction
            .slider_content
              #attraction_slider
            .left_half
              weaker
            .right_half
              stronger
            .below
              Attractive Force
        .component_group
          .slider_container
            Force Interactions
            .slider_content
              Coulomb
              %input(id="coulomb-forces-checkbox" type="checkbox")
            .below
              %input(id="lennard-jones-forces-checkbox" type="checkbox" checked)
        .component_group
          .slider_container
            Change Temperature
            .content
              %div
                %button#cool_button(type="button" class="left_edge" value="colder")colder
                %button#heat_button(type="button" class="right_edge" value="hotter")hotter



    %script{:src => "../../lab/lab.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}
