@import 'sass/bourbon/bourbon'
@import 'sass/neat/neat'

#content
  margin: 0em
  padding: 0em
  position: relative
  display: inline-block

#description-right
  display: inline-block
  position: relative
  vertical-align: top
  max-width: 33%
  min-width: 20%
  width: auto

#viz
  margin: 0em
  height: 100%
  width: 100%
  display: inline-block

.top
  padding: 0.5em 1.0em
  position: relative
  display: inline-block
  width: 100%

.bottom
  padding: 0.1em 1.0em
  position: relative
  display: list-item

.square
  height: 100%
  width: auto
  display: inline-block
  position: relative
  vertical-align: top
  img
    postion: relative
    display: block
    height: 100%

#applet-container
  display: inline-block
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $component-background-color
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  height: 100%
  width: 100%
  min-width: 20em
  min-height: 20em
  margin: 2px 1em 2px 0px
  padding: 0.8em

applet
  border: thin solid #EEE

#molecule-container
  display: inline-block
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $component-background-color
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  height: 100%
  width: 100%
  min-width: 20em
  min-height: 20em
  margin: 2px 0px 2px 0px
  line.attractionforce
    stroke: #aaa
    stroke-width: 2.5
    stroke-dasharray: 3 2
  circle
    stroke: transparent
    stroke-width: 1.0
    fill: #fff
    fill-opacity: 1.0
    &.selected
      fill: #ff7f0e
      stroke: #ff7f0e
  rect
    border: solid 1px #ccc

circle, .line
  fill: none
  stroke: steelblue
  stroke-width: 1.5px

text.title
  font-size: 1.0em

text.xlabel
  font-size: 0.85em

text.ylabel
  font-size: 0.85em

text.modelTimeLabel
  font-size: 0.75em

g.y
  font-size: 0.75em
g.x
  font-size: 0.75em

div.tooltip
  display: none
  position: absolute
  padding: 0.4em 0.6em
  font-size: 0.9em
  background: #fff
  border: solid 1px #aaa
  border-radius: 0.8em
  pointer-events: none
  pre
    margin: 0.2em

.therm
  display: inline-block
  vertical-align: bottom
  padding-bottom: 4em

.component_group
  display: inline-block

#lj-potential-chart
  display: inline-block
  vertical-align: top
  position: relative
  width: 20em
  height: 16em
  background: $component-background-color
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  margin: 0em 0.5em 0.5em 1.0em
  circle
    stroke: steelblue
    stroke-width: 1.0px
    fill: #fff
    fill-opacity: .2
    cursor: move
    &.selected
      fill: #ff7f0e
      stroke: #ff7f0e

#speed-distribution-chart
  display: inline-block
  vertical-align: top
  position: relative
  width: 20em
  height: 16em
  background: $component-background-color
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  margin: 0em 0.5em 0.5em 0.5em

#ke-chart
  display: inline-block
  vertical-align: bottom
  position: relative
  width: 41em
  height: 21.5em
  background: $component-background-color
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  margin: 0em 1em
  padding: 0em 0em


.slider_container
  background: $component-background-color
  border: none !important
  padding: 0.3em 0.6em !important
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  display: inline-block
  vertical-align: top
  margin: 0.5em 1.0em 0.5em 0em
  min-height: 4.8em
  font-size: 1.0em
  .left_half
    width: 49%
    float: left
    text-align: left
  .right_half
    text-align: right
    width: 49%
    float: right
  .container
    display: inline-block
    margin: auto
    text-align: center
  .below
    display: none
    margin: auto
    text-align: center

#benchmarks
  margin: 0em
  padding: 1em
  button
    margin-top: 1.5em
  table
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0 1.0em
    text-align: left
  td
    border-top: 1px solid #CCC
    padding: 0 1.0em
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 90%
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: top
      padding: 0.2em 1em 0.2em 0em
      fieldset
        height: 2.2em
        vertical-align: middle
        width: 100%
        border-bottom: 0px
        border-left: 0px
        border-right: 0px

#run-benchmarks
  margin: 1em

#datatable
  margin: 0em
  padding: 1em
  button
    margin-top: 1.5em
  table
    font: 10px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0em 1.0em
    text-align: center
  td
    border-top: 1px solid #CCC
    padding: 0em 1.5em 0em 0.5em
    text-align: right
    width: 5.0em
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 90%
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: top
      padding: 0.2em 1em 0.2em 0em
      fieldset
        height: 2.2em
        vertical-align: middle
        width: 100%
        border-bottom: 0px
        border-left: 0px
        border-right: 0px

#benchmark-results
  margin-left: 2em

.draggable
  cursor: move

#content-banner
  z-index: 10
  width: 100%
  display: table
  font-size: 1.3em
  margin: 0em
  height: 1.5em
  color: white
  background-color: lighten( #3A878B, 30% )
  opacity: 0.1
  &:hover
    opacity: 0.7
  .link
    color: #fff
    &:hover
      font-weight: bold

#about
  float: right
  vertical-align: middle
  display: table-cell
  margin-right: 2em

#about-pane
  display: none
  position: absolute
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  width: 60%
  height: auto
  min-height: 15em
  max-height: 60%
  top: 3em
  right: 2em
  z-index: 100
  margin: 0.5em
  padding: 0em
  background-color: #efefef

#about-pane-banner
  width: 100%
  display: table
  opacity: 0.7
  font-size: 1.1em
  margin: 0em
  padding: 0.2em 0em 0.2em 0.5em
  height: 1.5em
  color: white
  background-color: lighten( #3A878B, 15% )
  a
    color: #fff
    &:hover
      font-weight: bold

#about-pane-close
  float: right
  vertical-align: middle
  display: table-cell
  margin-right: 0.5em
  &:hover
    font-weight: bold

#about-content
  margin: 0.5em 1em 1em 1em
