@import 'sass/bourbon/bourbon'

.component
  display: inline-block
  div
    display: block
    position: relative
    margin: 0px
    padding: 0px
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  vertical-align: top
  overflow: hidden
  margin: 0.5em 0.25em 0 0.25em
  padding: 0

.component_group
  display: inline-block

// TODO: move following group of .component styles to _interactive-components.sass.
// Create interactive-component style definition for each of them.
select.component
  font-size: 1.0em

option.component
  font-size: 1.0em
  padding: 0.3em 0.5em

button.component
  display: inline-block
  padding: 0.4em
  margin-right: 2em
  vertical-align: text-top
  padding: 0.4em
  font-size: 0.9em

label.component
  padding: 0.4em
  font-size: 1.1em
  vertical-align: text-top

input[type="checkbox"]
  -webkit-transform: scale(1,1)
  -ms-transform: scale(1,1)
  -moz-transform: scale(1,1)
  -o-transform: scale(1,1)
  padding: 0.2em 0.2em
  font-size: 1.5em

.draggable
  cursor: move

.playbacksvg
  .button-art
    border: none
    fill: #777 !important
    stroke: transparent !important
    stroke-width: 0 !important
  .bg
    fill: #ddd
    stroke: #aaa
    stroke-width: 1px
  .highlight
    border: solid 1px #ccc
    border-bottom: none
    fill: #fff
    opacity: 0.6
    stroke: transparent
    stroke-width: 0
  .pause-center
    border: none
    fill: #ddd
    stroke: transparent
    stroke-width: 0

.playbacksvgbutton
  .button-art
    border: none
    fill: #777 !important
    stroke: transparent !important
    stroke-width: 0 !important
  .bg
    fill: #ddd
    stroke: #aaa
    stroke-width: 1px
  .highlight
    border: solid 1px #ccc
    border-bottom: none
    fill: #fff
    opacity: 0.6
    stroke: transparent
    stroke-width: 0
  .pause-center
    border: none
    fill: #ddd
    stroke: transparent
    stroke-width: 0
.playbacksvgbutton:hover
  .button-art
    fill: #777 !important
    stroke: transparent !important
    stroke-width: 0 !important
  .bg
    fill: #bbb
  .highlight
    opacity: 0.3
  .pause-center
    fill: #bbb
.playbacksvgbutton:active
  .button-art
    fill: #666 !important
    stroke: transparent !important
    stroke-width: 0 !important
  .bg
    fill: #a5a5a5
  .highlight
    opacity: 0.2
  .pause-center
    fill: #a5a5a5
