html
  margin: 0em
  padding: 0em

body
  height: 100%
  min-height: 100%
  font-size: 1em
  font-family: museo-sans, 'Open Sans', Verdana, Geneva, sans-serif
  margin: 0em
  padding: 0em
  background-color: #fff
  color: $body-text-color

h1
  color: #fff
  font-family: museo-sans, 'Open Sans', georgia, times, 'times new roman', serif
  font-weight: bold
  font-size: 1.5em
  a
    text-decoration: none

h2
  color: #5f5f5f
  font-family: museo-slab, 'Open Sans', georgia, times, 'times new roman', serif
  font-weight: bold
  font-size: 1.2em
  margin-top: 0
  a
    text-decoration: none

h3
  font-family: museo-slab, 'Open Sans', georgia, times, 'times new roman', serif
  font-weight: bold
  font-size: 1.165em
  a
    text-decoration: none

a
  text-decoration: none
