@font-face
  font-family: "Open Sans"
  font-style: normal
  font-weight: normal
  src: url("#{$directory}/vendor/fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.eot"), url("#{$directory}/vendor/fonts/open-sans-fontfacekit/OpenSans-Regular-webfont.ttf") format("truetype")

@font-face
  font-family: "Open Sans"
  font-style: normal
  font-weight: bold
  src: url("#{$directory}/vendor/fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.eot"), url("#{$directory}/vendor/fonts/open-sans-fontfacekit/OpenSans-Bold-webfont.ttf") format("truetype")

@font-face
  font-family: "Open Sans"
  font-style: italic
  font-weight: normal
  src: url("#{$directory}/vendor/fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.eot"), url("#{$directory}/vendor/fonts/open-sans-fontfacekit/OpenSans-Italic-webfont.ttf") format("truetype")
