@import 'sass/bourbon/bourbon'

$graph-background-color: rgba(0,255,0,0.05)
$canvas-background-color: rgba(0,255,0,0.05)


.graph
  position: relative
  background: rgba(255,255,255,0)
  &:focus
    outline: $focus-outline-color solid 0.2em
  div.background
    position: absolute
    background: $very-light-gray
  div.button-layer
    position: absolute
    text-align: right
    a
      opacity: 0.3
      color: black
      font-size: 120%
    a:hover
      opacity: 1
  canvas.overlay
    position: absolute
    background: $canvas-background-color

svg.graph
  &:focus
    outline: $focus-outline-color solid 0.2em
  text.title
    font-size: 0.9em
  text.ylabel
    font-size: 0.8em
  text.xlabel
    font-size: 0.8em
  text.axis
    font-size: 0.8em
    &:focus
      outline: $focus-outline-color solid 0.2em
  rect.draggable-axis
    fill: rgba(255,255,255,0.0)
    &:hover
      fill: rgba(196,196,196,0.2)

// Bar Graph styles
.bar-graph
  .hidden
    display: none
  .triangle
    stroke: #555
    // Use value in px, as whole triangle is scaled
    // using scale() transform based on the current font size.
    // Using ems would cause additional, unwanted scaling.
    stroke-width: 2px
    fill: #eee

