@import 'sass/bourbon/bourbon'

$graph-background-color: rgba(0,255,0,0.05)

.graph
  position: relative
  background: $component-background-color
  &:focus
    outline: $focus-outline-color solid 0.2em
  .canvas-overlay
    position: absolute
    border: solid 1px red
    background-color: $graph-background-color

svg.graph
  &:focus
    outline: $focus-outline-color solid 0.2em
  text.title
    font-size: 0.9em
  text.ylabel
    font-size: 0.8em
  text.xlabel
    font-size: 0.8em
  text.axis
    font-size: 0.8em
    &:focus
      outline: $focus-outline-color solid 0.2em

.graph-button-layer
  position: absolute
  z-index: 1
  width: 40px
  height: 20px
  text-align: right
  a
    opacity: 0.5
    color: black
  a:hover
    opacity: 1
