@import 'sass/bourbon/bourbon'

// Mixin for icons using CSS background.
@mixin icon-bg($url, $position, $size)
  background-repeat: no-repeat
  background-size: $size
  background-image: url($url)

#model-container
  background: $component-background-color
  border-radius: 0.5em
  box-shadow: 1px 1px 3px rgba(000,000,000,0.2)
  &:focus
    outline: $focus-outline-color solid 0.2em

.component
  display: inline-block
  vertical-align: middle
  margin: 0
  padding: 0
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

// Interactive button is typical button
// DOM element with 'component' class.
button.component
  @include linear-gradient(#fafafa, #c2c2c2, $fallback: #eee)
  font-size: 1em
  font-family: 'Open Sans', Verdana, Geneva, sans-serif
  height: 2em
  border: 1px solid #ccc
  border-bottom: 1px solid #bbb
  border-radius: 0.7em
  color: #333
  padding-left: 1em
  padding-right: 1em
  text-align: center
  text-shadow: 0 1px 0 #eee

  &:hover
    @include linear-gradient(#fff, #e6e6e6, $fallback: #e6e6e6)
    cursor: pointer

  &:active
    @include linear-gradient(#e6e6e6, #fff, $fallback: #fff)
    border: 1px solid #aaa
    border-bottom: 1px solid #888

.interactive-text
  p
    // Ensure that there are no margins added by the user agent styles.
    margin: 0
    padding: 0
    // Notify users that this is a clickable text (link).
    &.clickable
      color: #048
      cursor: pointer
      opacity: 1.0
    &.basic
      font-size: 1em
    &.header
      font-size: 1.3em
      font-weight: 600

.interactive-radio
  font-size: 1em
  &.horizontal
    // Horizontal alignment of options.
    span + span
      // Add margin only *between* spans (span + span).
      margin-left: 1em
  &.vertical
    // Vertical alignment of options.
    span
      display: block
  input[type="radio"]
    display: none
  label
    vertical-align: middle
  .fakeCheckable
    // Custom div used for radio styling.
    display: inline-block
    vertical-align: middle
    margin: 0 0.4em 0 0
    padding: 0
    width: 1.1em
    height: 1.1em
    @include icon-bg("../../resources/upstatement/unchecked.svg", center, 100%)
    &.checked
      @include icon-bg("../../resources/upstatement/checked.svg", center, 100%)

.interactive-pulldown
  font-size: 1em
  .label, .selectboxit-container
    // Align vertically select box and label.
    vertical-align: middle
  .label
    font-size: 1.1em
    &.on-left
      margin-right: 0.4em
    &.on-top
      display: block

.interactive-checkbox
  font-size: 1em
  label
    vertical-align: middle
  .fakeCheckable
    // Custom div used for checkbox styling.
    // Colors and size match Upstatement proposal.
    position: relative
    display: inline-block
    vertical-align: middle
    width: 1em
    height: 1em
    margin: 0 0.4em 0 0
    padding: 0
    // #e6e7e8 is a color proposed by Upstatement.
    // However it doesn't work well with white background.
    background: darken(#e6e7e8, 10%)
    &.right
      margin: 0 0 0 0.4em
    &.checked:before
      content: ""
      background: #58595b
      position: absolute
      top: 0.22197em
      left: 0.22197em
      right: 0.22197em
      bottom: 0.22197em

.numeric-output
  span.label
    display: inline-block
    padding-right: 0.5em
  span.value
    display: inline-block
    padding: 0.0em 0.2em 0.0em 0.5em
    min-width: 3em
    text-align: right
    font-weight: 600
    border-bottom-style: dotted
    border-color: Grey
    border-width: 1px
  span.units
    display: inline-block
    padding-left: 0.2em
    padding-right: 0.5em
    font-style: italic
  &.horizontal
    span.label
      display: inline-block
  &.vertical
    vertical-align: top
    span.label
      display: block

.interactive-slider
  // Leave some space for long labels.
  padding: 0 0.7em
  // Style jQuery UI classes.
  .ui-slider
    // Follow dimensions of a .container DIV.
    width: 100%
    height: 100%
  .ui-slider-handle
    font-size: 0.8em
    font-weight: normal
    text-align: center
    width: auto
    min-width: 1.2em
    min-height: 1.5em
    padding: 0.1em 0.2em 0em 0.2em
  .title
    display: inline-block
    font-size: 1em
    white-space: nowrap
    margin: 0 0 0.3em 0
    vertical-align: top
  .container
    // make this a positioned element so the .label can be positioned absolute
    position: relative
    // bottom margin has to account for size of labels, which are taken out of flow
    margin-bottom: 1em
    // follow width of the most outer container
    width: 100%
    .label
      position: absolute
      display: inline-block
      // "width: 2x; margin-left: -x; left: y%" places the center of the .label at exactly y%
      // of the width of the parent
      width: 6em
      margin: 0 0 0 -3em
      // Now, make the text itself centered in the .label element
      text-align: center
      // And finally, make the position labels a bit smaller than the title and other text
      font-size: 0.8em

.textBoxBody
  font-family: 'Open Sans', Verdana, Geneva, sans-serif
  background-color: rgba(0, 0, 0, 0)
  padding: 0.5em
  p
    font-size: 2em
    margin: 0.5em 0 0 0.5em
    line-height: 1.3em

.interactive-thermometer
  .label
    margin: 0
    text-align: center
    font-size: 1em
  .thermometer
    display: block
    margin: auto
    border: 2px solid #f4b626
    position: relative
    border-radius: 1.5em 1.5em 0.2em 0.2em
    div
      display: block
      position: relative
      margin: 0px
      padding: 0px
    .thermometer_fill
      position: absolute
      width: 70%
      left: 15%
      bottom: 0
      background: #e16a3e
      border-radius: 0.75em 0.75em 0em 0em

.properties-graph
  position: relative
  background: $component-background-color
  border-radius: 0.5em
  box-shadow: 1px 1px 3px rgba(000,000,000,0.2)
