@import 'sass/bourbon/bourbon'
@import 'sass/neat/neat'

#responsive-content
  @include fill-parent
  font-size: 0.9em
  height: 100%
  padding: 0 1%

#content-banner
  z-index: 10
  width: 100%
  display: table
  font-size: 1.1em
  font-weight: 600
  height: 5%
  color: #000
  background-color: #fff
  a
    text-decoration: none
    color: #000

#interactive-container
  @include fill-parent
  height: 94%
  position: relative

.component-spacing
  margin: 0.3em 0.5em