@import 'sass/bourbon/bourbon'
@import 'sass/neat/neat'

#responsive-content
  @include fill-parent
  font-size: 0.9em
  height: 100%
  padding: 0 1% 1% 1%

#interactive-container
  @include fill-parent
  height: 100%
  position: relative
  border-radius: 10px
  // Old browsers
  background-color: #c7e7de
  $experimental-support-for-svg: true
  @include background-image(radial-gradient(center, ellipse cover,  #c7e7de 12%,#72c3c8 100%))

.component-spacing
  margin: 0.3em 0.5em

#top-bar
  background-color: white
  padding: 1.2em 0.7em 1.2em 0.7em
  border-top: 1px lightgrey solid
  border-left: 1px lightgrey solid
  border-right: 1px lightgrey solid
  border-top-left-radius: 10px
  border-top-right-radius: 10px

.interactive-text .header
  padding: 0.45em