@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("../../vendor/fonts/lato-fontfacekit/Lato-LigIta-webfont.eot"), url("../../vendor/fonts/lato-fontfacekit/Lato-LigIta-webfont.ttf") format("truetype"); }

body {
  font-family: 'Lato', Verdana, Geneva, sans-serif;
  font-size: 1em;
  margin: 1em 2em; }
h1 { font-size: 1.4em; }
p {
  font-size: 1.0em;
  margin-left: 1.0em;
  margin-right: 4.0em; }
ul {
  list-style-type: none;
  margin: 0.5em 0em 0.5em 0em;
  width: 95%; }
  ul li {
    display: table-cell;
    vertical-align: middle;
    margin: 0em;
    padding: 0em 1em; }
#chart1,#chart2 {
  display: inline-block;
  width: 480px;
  height: 500px; }

.graph-notification {
  font-size: 2em;
  fill: rgba(0, 0, 0, 0.1); }

svg.graph text.title {
  font-size: 1.4em; }
svg.graph text.ylabel {
  font-size: 1.2em; }
svg.graph text.xlabel {
  font-size: 1.2em; }
svg.graph text.axis {
  font-size: 1em; }
svg.graph text.axis:focus {
  outline: #76d2b8 solid 0.2em; }

.sensor-selector {
  font-size: 1.4em;
  font-weight: bold }
  .sensor-selector select {
     background: #eee;
     padding: 0.2em;
     font-size: 0.9em;
     border: 1px solid #ddd; }

ul.sensorbuttons {
  margin: 0em 0em 0em 2em;
  padding: 0em;
}

ul.sensorbuttons li {
display: inline;
list-style-type: none;
font-size: 160%;
padding 0em 2em 1em 2em;
border 1px;
}

ul.sensorbuttons li a.active {
font-weight: bold;
color: #5E9E00;
border-bottom: 2px solid #5E9E00;
}

ul.sensorbuttons li a.inactive {
font-weight: normal;
color: #7E9258;
border-bottom: 0px solid #7E9258;
}

