body {
  font: 13px sans-serif;
  margin: 1em 2em; }
h1 { font-size: 1.6em; }
p {
  font-size: 1.4em;
  margin-left: 1.0em;
  margin-right: 4.0em; }
rect { fill: #fff; }
ul {
  list-style-type: none;
  margin: 0.5em 0em 0.5em 0em;
  width: 95%; }
  ul li {
    display: table-cell;
    vertical-align: middle;
    margin: 0em;
    padding: 0em 1em; }
.title { font-size: 1.6em; }
.axis  { font-size: 1.4em; }
.graph-notification {
  font-size: 4em;
  fill: rgba(0, 0, 0, 0.1); }
.chart {
  position: relative;
  background-color: #F7F2C5;
  width: 960px;
  height: 500px; }
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }
circle {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px; }
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    fill: #ff7f0e;
    stroke: #707f0e; }
  circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }

.sensor-selector {
  font-size: 2.0em;
  font-weight: bold }
  .sensor-selector select {
     background: #eee;
     padding: 0.2em;
     font-size: 0.9em;
     border: 1px solid #ddd; }

ul.sensorbuttons li {
display: inline;
list-style-type: none;
font-size: 200%;
padding 2em;
border 1px;
}

ul.sensorbuttons li a.active {
font-weight: bold;
color: #5E9E00;
border-bottom: 2px solid #5E9E00;
}

ul.sensorbuttons li a.inactive {
font-weight: normal;
color: #7E9258;
border-bottom: 0px solid #7E9258;
}

