!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTML5-based scientific models, visualizations, graphing, and probeware
    %script{:src => "../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "../vendor/d3/d3.js", :type => "text/javascript"}
    %script{:src => "../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      $(document).ready(function() { if (!Modernizr.svg) { $('body').prepend('<div class="warning">Sorry, but you\'ll need to upgrade your browser to use the models and visualizations. <a href="browser-upgrade.html">Learn more</a> &raquo;</div>'); } });
    %link{:href => "../index.css", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
    = FONTFACE_LINK
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../lab/resources/layout/cc-logo.png")
      %h1<
        %a(href='../index.html')> Lab
        \: Experiments

    #content
      .column1
        .item-list
          %h3 Inquiry Space Integration
          %ul
            %li
              %a{:href => 'inquiry-space-importer/index.html'} InquirySpace: Sensor Data Collector
              %i (probeware)

          %h3 Probeware
          %p
            Currently only the Vernier GoMotion ultrasonic ranger is supported as a Lab Interactive
            however we have several experiments listed below that work with more sensor types.
          %ul
            %li
              %a{:href => 'goio-sensor-grapher/index.html'} Vernier GoIO Sensor Grapher
            %li
              %a{:href => 'labquest-multiple-sensor-grapher/index.html'} Vernier LabQuest Mulitple Sensor Grapher
        .item-list
          %h3 Miscellaneous
          %ul
            %li
              %a{:href => 'html-layout/html-layout.html'} HTML Layout for Interactives
            %li
              %a{:href => 'grid-layout/grid-layout.html'} Grid Layout for Interactives
            %li
              %a{:href => 'semantic-layout/semantic-layout.html'} Semantic Layout for Interactives
            %li
              %a{:href => 'colors/index.html'} Colors for Heatmaps
            %li
              %a{:href => 'webgl-gpgpu/webgl.html'} WebGL GPGPU (reading a floating point texture)
            %li
              %a{:href => 'integration-methods/integration-methods.html'} Integration Methods
