#content {
  margin-left: 2em; }

.title {
  font-size: 1.3em; }

.axis {
  font-size: 1.1em; }

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }

.graphlist {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: inline-axis;
  -moz-box-orient: inline-axis;
  box-orient: inline-axis;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  margin-top: 0.5em; }

.chart {
  width: 640px;
  height: 480px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: inline-axis;
  -moz-box-orient: inline-axis;
  box-orient: inline-axis;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  position: relative; }

circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    fill: #ff7f0e;
    stroke: #707f0e; }
  circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
