#viz {
  margin: 0em;
  padding: 0.5em; }

#molecule-container {
  position: relative;
  background: #f9eec1;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  width: 20em;
  height: 20em;
  min-width: 10em;
  min-height: 10em;
  margin: 2px 0px 2px 0px; }
  #molecule-container circle {
    stroke: transparent;
    stroke-width: 1;
    fill: white;
    fill-opacity: 1;
    cursor: move; }
    #molecule-container circle.selected {
      fill: #ff7f0e;
      stroke: #ff7f0e; }
  #molecule-container rect {
    border: solid 1px #cccccc; }

text.index {
  text-anchor: middle; }

text.shadow {
  text-anchor: middle;
  stroke: white;
  stroke-width: 3px;
  stroke-opacity: 0.8; }

#number-frame {
  text-align: right; }
  #number-frame legend {
    text-align: left; }

#select-temperature-display {
  margin: 0px 2px 0px 2px;
  vertical-align: top; }

#components-description {
  display: inline-block;
  vertical-align: top;
  float: none;
  width: 40%; }
