#content {
  margin-left: 2em; }

#chart {
  background-color: #f9eec1;
  width: 960px;
  height: 500px;
  border: solid 1px #f4b626;
  margin: 1em 0 0 1em;
  padding: 0;
  position: relative;
  border-radius: 0.5em; }

svg.graph text.title {
  font-size: 1.1em; }
svg.graph text.ylabel {
  font-size: 1em; }
svg.graph text.xlabel {
  font-size: 1em; }
svg.graph text.axis {
  font-size: 1em; }

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }

circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    fill: #ff7f0e;
    stroke: #707f0e; }
  circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
