body {
  font: 13px sans-serif;
  margin: 1em 2em; }
h1 { font-size: 1.8em; }
p {
  font-size: 1.4em;
  margin-left: 1.0em;
  margin-right: 4.0em; }
rect { fill: #fff; }
ul {
  list-style-type: none;
  margin: 0.5em 0em 0.5em 0em;
  width: 95%; }
  ul li {
    display: table-cell;
    vertical-align: middle;
    margin: 0em;
    padding: 0em 1em; }
.title { font-size: 1.2em; }
.axis  { font-size: 1.2em; }
.graph-notification {
  font-size: 4em;
  fill: rgba(0, 0, 0, 0.1); }
.chart {
  background-color: #F7F2C5;
  width: 700px;
  height: 700px; }
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px; }
circle {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px; }
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    fill: #ff7f0e;
    stroke: #707f0e; }
  circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
