$directory: "../.."

@import 'sass/bourbon/bourbon'
@import 'sass/variables'
@import 'sass/neat/neat'
@import 'sass/lab/lab'

#content
  width: 100%

#viz.top
  width: 100%
  padding: 0.5em 1.0em

#interactive-container
  @include outer-container
  @include fill-parent

#top
  @include span-columns(12)

.interactive-top
  position: relative

#molecule-container
  @include span-columns(6 of 12, inline-block)

#right
  @include span-columns(2 of 12, inline-block)
  .label
    margin: 0.5em auto 0.5em auto
    text-align: center
    font-size: 1.4em

#rightwide
  @include span-columns(4 of 12, inline-block)
  .label
    margin: 0.5em auto 0.5em auto
    text-align: center
    font-size: 1.4em

#bottom.interactive-bottom
  @include row
  @include span-columns(12, inline-block)
  padding-top: 1.0em

select.component
  font-size: 1.0em
  margin-top: 0.5em

option.component
  font-size: 1.0em
  padding 0.3em 0.5em

button.component
  padding: 0.2em 0.4em
  font-size: 1.1em

input[type=checkbox]
  -webkit-transform: scale(1,1)

.textBoxBody
  font-family: museo-sans, 'Open Sans', Verdana, Geneva, sans-serif
  background-color: rgba(0, 0, 0, 0)
  padding: 0.5em
  p
    font-size: 2em
    margin: 0.5em 0 0 0.5em
    line-height: 1.3em
