$directory: "../.."

$max-width: 100%
@import 'sass/bourbon/bourbon'
@import url('molecules-view.css')
@import 'sass/neat/neat'
@import 'sass/lab/lab'

#header
  @include linear-gradient(#3a878b, #8cbbb8, $fallback: #3a878b)
  color: #fff
  padding: .5em 1em
  position: relative
  font-size: 1em
  font-weight: bold
  h1
    margin-right: 11em
    a
      color: #fff
      text-decoration: none
  a#logo
    display: block
    height: 3.25em
    margin: -1.625em 0 0
    position: absolute
    right: 2.25em
    top: 50%
    width: 10.5em
    img
      border: none
      height: 3.25em
      width: 10.5em

#content
  width: 100%
  a.opens-in-new-window
    color: #333
    font-size: 90%
    padding-left: 1em

#viz.top
  width: 100%
  min-height: 30em
  padding: 0.5em 1.0em

#interactive-container
  @include outer-container
  @include fill-parent
  margin: inherit 0em inherit 0em

#top
  @include span-columns(12)

#molecule-container
  @include span-columns(6 of 12, inline-block)

.interactive-top
  position: relative

#right
  display: inline-block

#rightwide
  @include span-columns(4 of 12, inline-block)
  .label
    margin: 0.5em auto 0.5em auto
    text-align: center
    font-size: 1.4em

#bottom.interactive-bottom
  @include row
  @include span-columns(12, inline-block)
  padding-top: 1.0em
  margin-top: 0.5em

select.component
  font-size: 1.0em
  margin-top: 0.5em

option.component
  font-size: 1.0em
  padding: 0.3em 0.5em

button.component
  padding: 0.2em 0.4em
  font-size: 1.1em

input[type=checkbox]
  -webkit-transform: scale(1,1)

#extras-bottom
  border: 1px solid gray
  margin: 1.5em 1em 0.5em 1em
  padding: 0em
  min-width: 40em
  background: #eee

#extras-bottom-banner
  font-size: 110%
  margin: 0.5em

#sortable-extras
  margin-top: 0.5em
  margin-bottom: 1.0em
  padding-left: 0.25em
  padding-right: 0.25em

.sortable-placeholder
  height: 0em
  display: block

.extras-item
  border: 1px dashed gray
  display: block
  margin: 0.5em
  min-width: 40em
  padding: 0.5em
  background: #ddd

.extras-item-controls
  margin-left: 1em
  font-size: 90%

button.extras-item-controls
  font-size: 100%
  margin: 0em 1em

.extras-item-content
  margin: 0.5em 0em
  padding: 0em

#interactive-text-area
  background: #fff
  margin: 0.7em 0.5em
  padding: 0.5em
  height: 40em

.CodeMirror
  background: #fff
  margin: 0.7em 0.5em

.CodeMirror-scroll
  height: 45em
  overflow: auto

#molecule-container
  width: 30em
  min-height: 0

a.opens-in-new-window
  color: white
  font-size: 90%
  padding-left: 1em

.model-benchmark-results
  font-size: 70%
  margin: 0em
  padding: 1em
  overflow: auto
  table
    background: #eee
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
    overflow: auto
  th
    padding: 0 1.0em
    text-align: left
  td
    border-top: 1px solid #CCC
    padding: 0 1.0em

.model-datatable-results
  margin: 0em
  padding: 1em
  overflow: auto
  table
    background: #eee
    font: 10px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0em 0.5em
    text-align: center
    background-repeat: no-repeat
    background-position: center right
    cursor: pointer
  th.sorted
    background: darken(#eee, 15%)
  th.sorted.asc
    background-image: url(down.png)
    background-size: 20%
    background-repeat: no-repeat
    background-position: bottom right
  th.sorted.desc
    background-image: url(up.png)
    background-size: 25%
    background-repeat: no-repeat
    background-position: top right
  tr: nth-child(odd)
    background-color: #eee
  tr: nth-child(even)
    background-color: #fff
  td
    font-size: 90%
    border-top: 1px solid #CCC
    padding: 0em 0.5em 0em 0.5em
    text-align: right
    width: 7.0em


.ke-chart
  display: inline-block
  vertical-align: bottom
  position: relative
  width: 90%
  height: 32em
  background: #f9eec1
  border-radius: 0.5em
  @include box-shadow(1px 1px 3px rgba(000,000,000,0.2))
  margin: 0em 1em
  padding: 0em 0em

.chart
  background-color: #f9eec1
  width: 960px
  height: 500px
  border: solid 1px #f4b626
  margin: 1em 0 0 1em
  padding: 0
  position: relative
  border-radius: 0.5em

#chart
  background-color: #f9eec1
  width: 960px
  height: 500px
  border: solid 1px #f4b626
  margin: 1em 0 0 1em
  padding: 0
  position: relative
  border-radius: 0.5em

.interactive-thermometer
  min-height: 12em
  .label
    margin: 0.5em auto 0.5em auto
    text-align: center
    font-size: 1em
  .thermometer
    width: 2em
