!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Simple Atoms Interactives Model
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %script{:src => "../../vendor/d3/d3.v2.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/tinysort/jquery.tinysort.js", :type => "text/javascript"}
    // %script{:src => "../../vendor/science.js/science.v1.js", :type => "text/javascript"}
    %script{:src => "../../vendor/codemirror/lib/codemirror.js", :type => "text/javascript"}
    %link{:href => "../../vendor/codemirror/lib/codemirror.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../vendor/codemirror/mode/javascript/javascript.js", :type => "text/javascript"}
    %script{:src => "../../vendor/codemirror/lib/util/foldcode.js", :type => "text/javascript"}
    %script{:src => "../../vendor/codemirror/lib/util/formatting.js", :type => "text/javascript"}
    %link{:href => "../../vendor/jquery-ui/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "interactives.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://use.typekit.com/hdw8ayt.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
  %body
    #header
      %a#logo{:href => "http://www.concord.org/"}
        %img{:src => "../../resources/layout/cc-logo.png"}/
      %h1<
        %a(href='../..')> Lab
        \:
        %a(href="") Next Generation MW Interactives
      Select Interactive:
      %select#select-interactive
        %optgroup{:label => "Basic Interactive Examples"}
          %option{:value => "interactives/basic-examples/oil-and-water-shake.json", :selected => true} Oil and Water
          %option{:value => "interactives/basic-examples/add-atoms.json"} add atoms
          %option{:value => "interactives/basic-examples/add-random-atoms.json"} add random atoms
          %option{:value => "interactives/basic-examples/one-atom.json"} one atom
          %option{:value => "interactives/basic-examples/layout-example.json"} layout example
          %option{:value => "interactives/basic-examples/script-examples.json"} Test Button, Slider, and Pulldown Examples
          %option{:value => "interactives/basic-examples/boiling-point-with-energy-graph.json"} Boiling Point and Energy Graph
          %option{:value => "interactives/basic-examples/pulling-uncharged-atoms.json"} Pulling Uncharged Atoms Apart
          %option{:value => "interactives/basic-examples/simple-gas.json"} A Simple Gas
          %option{:value => "interactives/basic-examples/simple-ke-shading.json"} Simple KE Shading
          %option{:value => "interactives/basic-examples/on-property-change.json"} onPropertyChange Demo
          %option{:value => "interactives/basic-examples/100-atoms.json"} Explore 100 Atoms
          %option{:value => "interactives/basic-examples/sample-rate-and-refresh-rate.json"} View Refresh Rate and Model Sample Rate Examples

        %optgroup{:label => "Science of Atoms and Molecules: Intermolecular Attractions"}
          %option{:value => "interactives/sam/intermolecular-attractions-page-1.json"} Page 1: Introduction
          %option{:value => "interactives/sam/intermolecular-attractions-page-2.json"} Page 2: Comparing Dipole-Dipole to London Dispersion
          %option{:value => "interactives/sam/intermolecular-attractions-page-3-1.json"} Page 3: Oil and Water
          %option{:value => "interactives/sam/intermolecular-attractions-page-3-2.json"} Page 3: Boiling Point and Solubility
          %option{:value => "interactives/sam/intermolecular-attractions-page-4.json"} Page 4: Strengthening Dipole-Dipole Attractions
          %option{:value => "interactives/sam/intermolecular-attractions-page-5.json"} Page 5: Strengthening London Dispersion Attraction
          %option{:value => "interactives/sam/intermolecular-attractions-page-6.json"} Page 6: Hydrogen Bonds, a Special Type of Attraction
          %option{:value => "interactives/sam/intermolecular-attractions-page-8.json"} Page 8: Your Immune System

        %optgroup{:label => "Science of Atoms and Molecules: Gas Laws"}
          %option{:value => "interactives/sam/gas-laws-page-2.json"} Page 2: What is Pressure?
          %option{:value => "interactives/sam/gas-laws-page-3.json"} Page 3: The Volume-Pressure Relationship
          %option{:value => "interactives/sam/gas-laws-page-4.json"} Page 4: The Temperature-Volume Relationship
          %option{:value => "interactives/sam/gas-laws-page-5.json"} Page 5: The Temperature-Pressure Relationship
          %option{:value => "interactives/sam/gas-laws-page-6.json"} Page 6: The Number-Volume Relationship
          %option{:value => "interactives/sam/gas-laws-page-7.json"} Page 7: Why did the Can Collapse?

        %optgroup{:label => "Science of Atoms and Molecules: Phase Change"}
          %option{:value => "interactives/sam/phase-change-page-2.json"} Page 2: Two Types of Gases
          %option{:value => "interactives/sam/phase-change-page-3.json"} Page 3: Liquids
          %option{:value => "interactives/sam/phase-change-page-4.json"} Page 4: Solids
          %option{:value => "interactives/sam/phase-change-page-5.json"} Page 5: Interatomic Interactions and States
          %option{:value => "interactives/sam/phase-change-page-6.json"} Page 6: Phase Changes Caused by Energy Input
          %option{:value => "interactives/sam/phase-change-page-7.json"} Page 7: Latent Heat

        %optgroup{:label => "VISUAL Recycling Project"}
          %option{:value => "interactives/visual/recycling-ceramicforces.json"} Recycling: Ceramic Forces
          %option{:value => "interactives/visual/recycling-plasticforces.json"} Recycling: Plastic Forces
          %option{:value => "interactives/visual/recycling-metalforces.json"} Recycling: Metal Forces
          %option{:value => "interactives/visual/recycling-tireforces.json"} Recycling: Tire Forces

        %optgroup{:label => "InquirySpace"}
          %option{:value => "interactives/inquiry-space/pendulum/pendulum1.json"} Pendulum
          %option{:value => "interactives/inquiry-space/pendulum/spring1.json"} Mass and Spring
          %option{:value => "interactives/inquiry-space/pendulum/springy-pendulum.json"} Pendulum and Spring

        %optgroup{:label => "MW Tutorial"}
          %option{:value => "interactives/tutorial/microscopic-buoyancy.json"} Microscopic buoyancy

        %optgroup{:label => "Student/Classic"}
          %option{:value => "interactives/student/classic/pendulum/pendulum1.json"} Pendulum1

        %optgroup{:label => "Conversion Tests"}
          %option{:value => "interactives/conversion-tests/one-radial-bond.json"} One Radial Bond
          %option{:value => "interactives/conversion-tests/one-radial-bond-different-elements.json"} One Radial Bond, Different Elements
          %option{:value => "interactives/conversion-tests/angular-bonds.json"} Angular Bonds
          %option{:value => "interactives/conversion-tests/energy-minimization.json"} Energy Minimization
          %option{:value => "interactives/conversion-tests/vdw-force-lines.json"} VDW Force Lines
          %option{:value => "interactives/conversion-tests/coulomb-testing-forces.json"} Coulomb Forces
          %option{:value => "interactives/conversion-tests/non-coulomb-testing-forces.json"} Non-Coulomb Forces
          %option{:value => "interactives/conversion-tests/boiling-point-non-polar-only.json"} Boiling Non-polar Substance
          %option{:value => "interactives/conversion-tests/boiling-point-polar-only.json"} Boiling Polar Substance
          %option{:value => "interactives/conversion-tests/obstacle-ke.json"} Obstacle Kinetic Energy
          %option{:value => "interactives/conversion-tests/obstacle-friction.json"} Obstacle Friction
          %option{:value => "interactives/conversion-tests/obstacle-force.json"} Obstacle External Force
          %option{:value => "interactives/conversion-tests/single-image-on-atom.json"} Single Image on Atom
          %option{:value => "interactives/conversion-tests/multiple-attached-images.json"} Multiple Attached Images
          %option{:value => "interactives/conversion-tests/multiple-images-on-multiple-atoms.json"} Multiple Images on Multiple Atoms
          %option{:value => "interactives/conversion-tests/image-layers.json"} Multiple Images in Multiple Layers
          %option{:value => "interactives/conversion-tests/friction.json"} Friction
          %option{:value => "interactives/conversion-tests/friction-2.json"} Friction Two Atoms
          %option{:value => "interactives/conversion-tests/gravitational-field-test.json"} Gravitational Field Test
          %option{:value => "interactives/conversion-tests/pressure-probe.json"} Pressure Probe Test
          %option{:value => "interactives/conversion-tests/visible-and-invisible.json"} Visible and Invisible Atoms
          %option{:value => "interactives/conversion-tests/two-model-pulldown.json"} Select One of Two models from Pulldown
          %option{:value => "interactives/conversion-tests/mark-atom.json"} Mark atoms Test
          %option{:value => "interactives/conversion-tests/point-restraint.json"} Point Restraint Test

      %a#embeddable-link{:href => "embeddable.html", :class => "opens-in-new-window", :target => "_blank"} Embeddable
      %a#java-mw-link{:href => "../../imports/legacy-mw-content/converted/", :class => "opens-in-new-window"} Java MW
      %a#datagames-link{:href => "embeddable.html", :class => "opens-in-new-window", :target => "_blank"} DataGames

    #content.standard-interactive-layout
      #content-banner
        #cc
          #about-link.link The Concord Consortium
        #share
          #share-link.link Share
      #viz.top
        #interactive-container
    #extras-bottom
      #extras-bottom-banner Extras

      %ul#sortable-extras
        %li#editor.extras-item
          .extras-item-banner
            %input#show-editor{:type => "checkbox", :checked => false}
            %label{:for => "show-editor"} Interactive Editor
          #editor-content.extras-item-content
            .extras-item-controls
              %button#update-interactive-button Update Interactive
              %button#autoformat-selection-button AutoFormat Selection
              %a#json-model-link{:href => "", :class => "opens-in-new-window", :target => "_blank"} Model JSON
            %textarea#interactive-text-area

        %li#model-energy-graph.extras-item
          .extras-item-banner
            %input#show-model-energy-graph{:type => "checkbox", :checked => false}
            %label{:for => "show-model-energy-graph"} Energy Graph
          #model-energy-graph-content.extras-item-content
            #model-energy-graph-chart.ke-chart

        %li#model-datatable.extras-item
          .extras-item-banner
            %input#show-model-datatable{:type => "checkbox", :checked => false}
            %label{:for => "show-model-datatable"} Atoms Datatable
          #model-datatable-content.extras-item-content
            #model-datatable-stats.extras-item-controls
            .model-datatable-results
              %table#model-datatable-results
                %thead
                %tbody

        %li#benchmark.extras-item
          .extras-item-banner
            %input#show-benchmarks{:type => "checkbox", :checked => false}
            %label{:for => "show-benchmarks"} Benchmarks
          #benchmarks-content.extras-item-content
            .extras-item-controls
              %button#run-benchmarks-button.extras-item-controls Run Benchmarks
              Collect performance data by running 100 steps: first just the graphics, then
              just the model, and finally the model and graphics together.
            .model-benchmark-results
              %table#model-benchmark-results.model-benchmark-results

    #about-pane
      #about-pane-banner
        %span#about-pane-title About
        #about-pane-close X
      #about-content

  #share-pane
    #share-pane-banner
      %span#share-pane-title Share
      #share-pane-close X
    #share-content
      %p
        Paste this
        %a#share-embeddable-link{:href => "embeddable.html", :class => "opens-in-new-window", :target => "_blank"} link
        in email or IM.
      %textarea#share-embeddable-link-content
      %p
        Paste HTML to embed in website or blog.
      #share-iframe-form
        Select size:
        %select#share-select-iframe-size
          %option{:value => "smaller"} 30% smaller
          %option{:value => "actual", :selected => true} actual
          %option{:value => "larger"} 50% larger
        %textarea#share-iframe-content

    %script{:src => "../../lab/lab.js", :type => "text/javascript"}
    %script{:src => "../../imports/legacy-mw-content/model-list.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}

