!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Simple Atoms Interactives Model
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %script{:src => "../../vendor/d3/d3.v2.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/tinysort/jquery.tinysort.js", :type => "text/javascript"}
    // %script{:src => "../../vendor/science.js/science.v1.js", :type => "text/javascript"}
    %script{:src => "../../vendor/codemirror/lib/codemirror.js", :type => "text/javascript"}
    %link{:href => "../../vendor/codemirror/lib/codemirror.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../vendor/codemirror/mode/javascript/javascript.js", :type => "text/javascript"}
    %script{:src => "../../vendor/codemirror/lib/util/foldcode.js", :type => "text/javascript"}
    %script{:src => "../../vendor/codemirror/lib/util/formatting.js", :type => "text/javascript"}
    %link{:href => "interactives.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://use.typekit.com/hdw8ayt.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %a#logo{:href => "http://www.concord.org/"}
        %img{:src => "../../resources/layout/cc-logo.png"}/
      %h1
        Next Generation MW Interactives Demo
      Select Interactive:
      %select#select-interactive
        %optgroup{:label => "Basic Interactive Examples"}
          %option{:value => "interactives/add-atoms.json"} add atoms
          %option{:value => "interactives/add-random-atoms.json"} add random atoms
          %option{:value => "interactives/one-atom.json"} one atom
          %option{:value => "interactives/layout-example.json"} layout example
          %option{:value => "interactives/script-examples.json"} script examples
          %option{:value => "interactives/boiling-point-with-energy-graph.json"} Energy Graph test
        %optgroup{:label => "Science of Atoms and Molecules: Intermolecular Attractions"}
          %option{:value => "interactives/oil-and-water-shake.json", :selected => true} Oil and Water
          %option{:value => "interactives/intermolecular-attractions-page-1.json"} Page 1
          %option{:value => "interactives/intermolecular-attractions-page-2.json"} Page 2
          %option{:value => "interactives/boiling-point.json"} Boiling Point and Solubility
          %option{:value => "interactives/leastPolarPull.json"} Page 4: Least Polar
          %option{:value => "interactives/npCurvedRound.json"} Page 5: Curved Round
          %option{:value => "interactives/npSmallStraight.json"} Page 5: Small Straight
        %optgroup{:label => "Science of Atoms and Molecules: Gas Laws"}
          %option{:value => "interactives/gas-laws-page-2.json"} Gas Laws Page 2 example
          %option{:value => "interactives/gas-laws-page-4.json"} Gas Laws Page 4 example
        %optgroup{:label => "Science of Atoms and Molecules: Phase Change"}
          %option{:value => "interactives/phase-change-page-2.json"} Page 2: Two Types of Gases
        %optgroup{:label => "VISUAL Recycling Project"}
          %option{:value => "interactives/recycling-ceramicforces.json"} Recycling: Ceramic Forces
          %option{:value => "interactives/recycling-plasticforces.json"} Recycling: Plastic Forces
          %option{:value => "interactives/recycling-metalforces.json"} Recycling: Metal Forces
          %option{:value => "interactives/recycling-tireforces.json"} Recycling: Tire Forces
        %optgroup{:label => "Conversion Tests"}
          %option{:value => "interactives/one-radial-bond.json"} One Radial Bond
          %option{:value => "interactives/one-radial-bond-different-elements.json"} One Radial Bond, Different Elements
          %option{:value => "interactives/force-lines-short.json"} Force Lines Short
          %option{:value => "interactives/force-lines-medium.json"} Force Lines Medium
          %option{:value => "interactives/force-lines-long.json"} Force Lines Long
          %option{:value => "interactives/coulomb-testing-forces.json"} Coulomb Forces
          %option{:value => "interactives/non-coulomb-testing-forces.json"} Non-Coulomb Forces
          %option{:value => "interactives/boiling-point-non-polar-only.json"} Boiling Non-polar Substance
          %option{:value => "interactives/boiling-point-polar-only.json"} Boiling Polar Substance
          %option{:value => "interactives/single-image-on-atom.json"} Single Image on Atom
          %option{:value => "interactives/multiple-attached-images.json"} Multiple Attached Images
          %option{:value => "interactives/multiple-images-on-multiple-atoms.json"} Multiple Images on Multiple Atoms
          %option{:value => "interactives/image-layers.json"} Multiple Images in Multiple Layers
          %option{:value => "interactives/friction.json"} Friction
          %option{:value => "interactives/friction-2.json"} Friction Two Atoms
          %option{:value => "interactives/gravitational-field-test.json"} Gravitational Field Test
          %option{:value => "interactives/visible-and-invisible.json"} Visible and Invisible Atoms
          %option{:value => "interactives/two-model-pulldown.json"} Select One of Two models from Pulldown

      %a#embeddable-link{:href => "embeddable.html", :class => "opens-in-new-window", :target => "_blank"} Embeddable
      %a#java-mw-link{:href => "../../imports/legacy-mw-content/converted/", :class => "opens-in-new-window"} Java MW
      %a#datagames-link{:href => "embeddable.html", :class => "opens-in-new-window", :target => "_blank"} DataGames

    #content.standard-interactive-layout
      #content-banner
        #about
          #about-link.link About
      #viz.top
        #interactive-container
      #extras-bottom
        #extras-bottom-banner Extras

        %ul#sortable-extras
          %li#editor.extras-item
            .extras-item-banner
              %input#show-editor{:type => "checkbox", :checked => false}
              %label{:for => "show-editor"} Interactive Editor
            #editor-content.extras-item-content
              .extras-item-controls
                %button#update-interactive-button Update Interactive
                %button#autoformat-selection-button AutoFormat Selection
                %a#json-model-link{:href => "", :class => "opens-in-new-window", :target => "_blank"} Model JSON
              %textarea#interactive-text-area

          %li#model-energy-graph.extras-item
            .extras-item-banner
              %input#show-model-energy-graph{:type => "checkbox", :checked => false}
              %label{:for => "show-model-energy-graph"} Energy Graph
            #model-energy-graph-content.extras-item-content
              #model-energy-graph-chart.ke-chart

          %li#model-datatable.extras-item
            .extras-item-banner
              %input#show-model-datatable{:type => "checkbox", :checked => false}
              %label{:for => "show-model-datatable"} Atoms Datatable
            #model-datatable-content.extras-item-content
              #model-datatable-stats.extras-item-controls
              .model-datatable-results
                %table#model-datatable-results
                  %thead
                  %tbody

          %li#benchmark.extras-item
            .extras-item-banner
              %input#show-benchmarks{:type => "checkbox", :checked => false}
              %label{:for => "show-benchmarks"} Benchmarks
            #benchmarks-content.extras-item-content
              .extras-item-controls
                %button#run-benchmarks-button.extras-item-controls Run Benchmarks
                Collect performance data by first running just the model for 100 steps and then running the model and the graphics together for 100 steps.
              .model-benchmark-results
                %table#model-benchmark-results.model-benchmark-results

      #about-pane
        #about-pane-banner
          About
          #about-pane-close x
        #about-content
          %p
            This Interactive was created by the
            %a{:href => "http://mw.concord.org/nextgen/"} Next Generation Molecular Workbench Project
            funded by a
            %a{:href => "http://www.google.org/"} Google Foundation
            grant to the
            %a{:href => "http://concord.org/"} Concord Consortium.
            and is Copyright 2012 by the Concord Consortium, All Rights are Reserved.
          %p
            However this Interactive and all of the code to create it are available in
            Concord Consortium's
            %a{:href => "https://github.com/concord-consortium/lab"} Lab
            software repository and distributed to you under multiple open-source licenses.
          %p
            Concord Consortium's
            %a{:href => "https://github.com/concord-consortium/lab"}  Lab
            software and content are Copyright 2012 (c) by the Concord Consortium and are
            distributed under any of the following licenses:
            %a{:href => "http://www.opensource.org/licenses/BSD-2-Clause"} Simplified BSD
            ,
            %a{:href => "http://www.opensource.org/licenses/MIT"} MIT
            , and
            %a{:href => "http://www.opensource.org/licenses/Apache-2.0"} Apache 2.0

    %script{:src => "../../lab/lab.js", :type => "text/javascript"}
    %script{:src => "../../imports/legacy-mw-content/model-list.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}

