body
  font: 16px sans-serif
  margin: 12px 24px 12px 24px
  background-color: #FFFFFF

#description
  width: 920px

#description-right
  float: right
  padding: 0em 1em 0em 1em
  width: 400px
  font: 16px sans-serif

#fullscreen img
  margin-top: 8px
  cursor: pointer

#chart
  background-color: #F7F2C5
  width: 960px
  height: 500px
  border: solid 1px #ccc
  position: relative

a
  color: black
  &:hover
    font-weight: bolder

label
  margin-left: 0.2em

rect
  fill: #fff

rect.bar
  fill: #5CACEE

circle, .line
  fill: none
  stroke: steelblue
  stroke-width: 1.5px

circle
  fill: #fff
  fill-opacity: .2
  cursor: move
  &.selected
    fill: #ff7f0e
    stroke: #ff7f0e
  &:hover
    stroke: #ff7f0e
  

text.title
  font-size: 1.0em

text.xlabel
  font-size: 0.85em

text.ylabel
  font-size: 0.85em

g.y
  font-size: 0.75em
g.x
  font-size: 0.75em

h1
  font: 20px sans-serif

h2
  font: 18px sans-serif

h3
  font: 16px sans-serif

ul
  margin: 1em 0em 1em 0em
  padding: 0em 0em 0em 0em
  li
    margin: 0.3em 0.2em 0.3em 0.2em
    padding: 0em 0em 0em 0em

#example-list
  ul
    margin: 1em 1em 1em 1em
    padding: 0em 0em 0em 1em
    li
      margin: 0.5em 0.2em 0.5em 0.2em
      padding: 0em 0em 0em 0em
  ol
    margin: 1em 1em 1em 1em
    padding: 0em 0em 0em 1em
    li
      margin: 0.5em 0.2em 0.5em 0.2em
      padding: 0em 0em 0em 0em
  

h1
  font-size: 1.5em
  font-weight: bold

h2
  font-size: 1.2em
  font-weight: bold

#header
  ul
    display: inline-block
    list-style-type: none
    overflow: hidden
    margin: 0em
    padding: 0em
    li
      display: inline-table
      vertical-align: middle
      height: 24px
      margin: 0em
      padding: 0.2em 1em 0.2em 0em
    li.title
      font-size: 1.6em
      font-weight: bold
    li.note
      padding: 0em 3em 0em 4em
      font-size: 1.1em
      font-weight: normal
      font-style: italic
  ul.right
    height: 40px
    float: right

#viz
  margin: 0px 5px 0px 0px
  padding: 0px
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: middle
      margin: 0
      padding: 0
      fieldset
        height: 2.2em
      ul
        margin: 0px
        li
          margin: 0px
  ul.right
    float: right

#controls
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: middle
      padding: 0.2em 1em 0.2em 0em
      input
        vertical-align: middle
      fieldset
        height: 2.2em
        vertical-align: middle
  ul.right
    float: right

#benchmarks
  margin: 0em
  button
    margin-top: 1.5em
  table
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0 1.0em
    text-align: left
  td
    border-top: 1px solid #CCC
    padding: 0 1.0em
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 90%
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: top
      padding: 0.2em 1em 0.2em 0em
      fieldset
        height: 2.2em
        vertical-align: middle
        width: 100%
        border-bottom: 0px
        border-left: 0px
        border-right: 0px

#datatable
  margin: 0em
  button
    margin-top: 1.5em
  table
    font: 10px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0em 1.0em
    text-align: center
  td
    border-top: 1px solid #CCC
    padding: 0em 1.5em 0em 0.5em
    text-align: right
    width: 5.0em
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 90%
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: top
      padding: 0.2em 1em 0.2em 0em
      fieldset
        height: 2.2em
        vertical-align: middle
        width: 100%
        border-bottom: 0px
        border-left: 0px
        border-right: 0px

#benchmark-results
  margin-left: 2em
#description
  ul
    margin: 0.5em 0.0em 0.5em 1em
    li
      line-height: 1.0em
      padding: 0.2em 0.2em 0.2em 0em
  .key-command
    font-weight: bold

#stats-container
  width: 100%
  ul
    display: inline-block
    list-style-type: none
    margin: 0px
    padding: 0px
    li
      display: inline-table
      vertical-align: middle

#stats
  margin: 2px 5px 5px 5px
  font-family: "New Courier", Courier, monospace
  font-size: 80%