@import 'sass/bourbon/bourbon'
@import 'sass/lab/lab'

#header
  @include linear-gradient(#3a878b, #8cbbb8, $fallback: #3a878b)
  color: #fff
  padding: .5em 1em
  position: relative
  font-size: 1em
  font-weight: bold
  h1
    margin-right: 11em
    a
      color: #fff
      text-decoration: none
  a#logo
    display: block
    height: 3.25em
    margin: -1.625em 0 0
    position: absolute
    right: 2.25em
    top: 50%
    width: 10.5em
    img
      border: none
      height: 3.25em
      width: 10.5em

img#fullscreen
  cursor: pointer
  height: 1.2em
  width:  1.2em
  margin: 0
  position: absolute
  right: 0.5em
  top: 0.5em

select
  font-size: 1em

input[type=checkbox]
  -webkit-transform: scale(1,1)

div.tooltip
  position: absolute
  padding: 0.4em 0.6em
  font-size: 0.9em
  background: #fff
  border: solid 1px #aaa
  border-radius: 0.8em
  pointer-events: none
  pre
    margin: 0.2em

#heat_button.inactive
  $inactive: lighten(#f00, 20%)
  background-color: $inactive

#heat_button
  background-color: #F00
  height: 1.8em
  width: 2.0em
  margin: 0.4em 1em

#cool_button.inactive
  $inactive: lighten(#00f, 20%)
  background-color: $inactive

#cool_button
  background-color: #00f
  height: 1.8em
  width: 2.0em
  margin: 0.4em 1em

#intro
  padding: .5em 1em 0

#description
  padding: 1em
  width: 100em

#description-right
  padding: 1em 0.5em
  width: 90%
  p
    line-height: 135%
    margin: 0em 0em 0.5em 0em
  ul
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 95%
    li
      display: table-cell
      vertical-align: middle
      margin: 0em
      padding: 0em
      fieldset
        height: 2.2em
    li.top
      vertical-align: top
    li.baseline
      vertical-align: baseline

.description
  padding: 1em
  width: 70em
  ul
    margin: 0.5em 0.0em 0.5em 1em
    li
      line-height: 1.0em
      padding: 0.2em 0.2em 0.2em 0em
  .key-command
    font-weight: bold

#chart
  background-color: #f9eec1
  width: 960px
  height: 500px
  border: solid 1px #f4b626
  margin: 1em 0 0 1em
  padding: 0
  position: relative
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px

a
  color: #3a878b
  &:hover
    color: #da5936

label
  margin-left: 0.2em

rect
  fill: #fff

rect.bar
  fill: #5CACEE

circle, .line
  fill: none
  stroke: steelblue
  stroke-width: 1.5px

circle
  fill: #fff
  fill-opacity: 0.2
  cursor: move
  stroke: steelblue
  &.selected
    fill: #ff7f0e
    stroke: #ff7f0e
  &:hover
    stroke: #ff7f0e

text.title
  font-size: 1.0em

text.xlabel
  font-size: 0.85em

text.ylabel
  font-size: 0.85em

text.model_time_label
  font-size: 0.85em

g.y
  font-size: 0.75em
g.x
  font-size: 0.75em

ul
  margin: 1em 0em 1em 0em
  padding: 0em 0em 0em 0em
  li
    margin: 0.3em 0.2em 0.3em 0.2em
    padding: 0em 0em 0em 0em

#example-list
  ul
    margin: 1em 1em 1em 1em
    padding: 0em 0em 0em 1em
    li
      margin: 0.5em 0.2em 0.5em 0.2em
      padding: 0em 0em 0em 0em
  ol
    margin: 1em 1em 1em 1em
    padding: 0em 0em 0em 1em
    li
      margin: 0.5em 0.2em 0.5em 0.2em
      padding: 0em 0em 0em 0em

#content
  margin: 0
  padding: 0em
  ul
    list-style-type: none
    margin: 0em 0em 0em 0em
    width: 100%
    li
      display: table-cell
      vertical-align: middle
      margin: 0
      padding: 0
      fieldset
        height: 2.2em
    li.top
      vertical-align: top
    li.baseline
      vertical-align: baseline
  ul.twox
    margin: 0em 0em 0em 0em
    li
      margin: 0em
      padding-bottom: 0.5em
    li.top
      vertical-align: top
      padding-bottom: 0.5em
    li.bottom
      vertical-align: bottom
      padding-bottom: 0em
  ul.right
    float: right

#viz
  margin: 0em
  padding: 0.5em 1em
  ul
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 100%
    li
      display: table-cell
      vertical-align: middle
      margin: 0
      padding: 0
      fieldset
        height: 2.2em
    li.top
      vertical-align: top
    li.baseline
      vertical-align: baseline
  ul.twox
    margin: 0em 0em 0em 0em
    li
      margin: 0em
      padding-bottom: 0.5em
    li.top
      vertical-align: top
      padding-bottom: 0.5em
    li.bottom
      vertical-align: bottom
      padding-bottom: 0em
  ul.right
    float: right

#controls
  margin: 0em
  padding: 0.0em 1em
  text-align: center
  width: 100%
  ul
    display: inline-block
    list-style-type: none
    margin: 0.2em 0em 0.2em 0em
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: middle
      padding: 0.2em 1em 0.2em 0em
      input
        vertical-align: middle
      fieldset
        height: 2.2em
        vertical-align: middle
  ul.right
    float: right

#controls.left
  text-align: left

#benchmarks
  margin: 0em
  padding: 1em
  button
    margin-top: 1.5em
  table
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0 1.0em
    text-align: left
  td
    border-top: 1px solid #CCC
    padding: 0 1.0em
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 90%
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: top
      padding: 0.2em 1em 0.2em 0em
      fieldset
        height: 2.2em
        vertical-align: middle
        width: 100%
        border-bottom: 0px
        border-left: 0px
        border-right: 0px

#run-benchmarks
  margin: 1em

#datatable
  margin: 0em
  padding: 1em
  button
    margin-top: 1.5em
  table
    font: 10px/24px Verdana, Arial, Helvetica, sans-serif
    border-collapse: collapse
  th
    padding: 0em 1.0em
    text-align: center
  td
    border-top: 1px solid #CCC
    padding: 0em 1.5em 0em 0.5em
    text-align: right
    width: 5.0em
  ul
    display: inline-block
    list-style-type: none
    margin: 0.5em 0em 0.5em 0em
    width: 90%
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: top
      padding: 0.2em 1em 0.2em 0em
      fieldset
        height: 2.2em
        vertical-align: middle
        width: 100%
        border-bottom: 0px
        border-left: 0px
        border-right: 0px

#benchmark-results
  margin-left: 2em

#stats-container
  width: 100%
  ul
    display: inline-block
    list-style-type: none
    margin: 0px
    padding: 0px
    li
      display: inline-table
      vertical-align: middle

#stats
  margin: 2px 5px 5px 5px
  font-family: "New Courier", Courier, monospace
  font-size: 80%
