!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Graphs and Models
    %link{:href => "examples.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1 Graphs and Models
    %ul#example-list
      %li
        %a{:href => 'simplegraph/simplegraph.html'} simple graph
      %li
        %a{:href => 'seasons/canberra-question.html'} seasons/canberra-question
      %li
        %a{:href => 'surface-temperature/surface-temperature.html'} surface-temperature
      %li
        %a{:href => 'simpleforce/simpleforce.html'} simpleforce
      %li
        %a{:href => 'simplecollision/simplecollision.html'} simplecollision
      %li
        %a{:href => 'simplebeam/simplebeam.html'} simplebeam
      %li
        %a{:href => 'lennard-jones-potential/lennard-jones-potential.html'} lennard-jones-potential
      %li
        %a{:href => 'simplemolecules/simplemolecules.html'} simplemolecules
