@import 'sass/bourbon/bourbon'
@import 'sass/lab/colors'

#content
  height: 50em

.top
  height: 76%
  padding: 0.5em 1.0em
  position: relative
  display: inline-block
  .top-left
    height: 100%
    float: left
    position: relative
    display: inline-block
    vertical-align: top
  .top-right
    position: absolute
    display: inline-block
    vertical-align: top
    .top-right-upper
      position: relative
      display: inline-block
      vertical-align: top
    .top-right-lower
      position: relative
      display: inline-block
      vertical-align: bottom

#controls
  margin: 0em
  padding: 0.0em 1em
  text-align: center
  width: 95%
  ul
    display: inline-block
    list-style-type: none
    margin: 0.2em 0em 0.2em 0em
    li
      line-height: 1.0em
      display: inline-table
      vertical-align: middle
      padding: 0.2em 1em 0.2em 0em
      input
        vertical-align: middle
      fieldset
        height: 2.2em
        vertical-align: middle
  ul.right
    float: right

#controls.left
  text-align: left

#stats-container
  width: 100%
  ul
    display: inline-block
    list-style-type: none
    margin: 0px
    padding: 0px
    li
      display: inline-table
      vertical-align: middle

#stats
  margin: 2px 5px 5px 5px
  font-family: "New Courier", Courier, monospace
  font-size: 80%
