!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title More Complex Atoms Model
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %link{:href => "../examples.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../vendor/d3/d3.v2.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/science.js/science.v1.js", :type => "text/javascript"}
    %script{:src => "http://use.typekit.com/hdw8ayt.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "application.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../../resources/layout/cc-logo.png")
      %h1
        %a(href="http://lab.dev.concord.org/examples/complex-atoms-model/complex-atoms-model.html") More Complex Atoms Model
      %img#fullscreen(class="size-full wp-image-1880" src="../../resources/layout/fullscreen.gif")
    #content
      #viz
        .top
          .top-left
            .square
              %img{:src => "../../resources/aspect-ratio-1x1.png"}
              #molecule-container
          .top-right
            .top-right-upper
              #lj-potential-chart
              #speed-distribution-chart
            .top-right-lower
              #ke-chart
        .bottom
          #controls.left
            %ul
              %li
                %fieldset
                  %legend Molecules
                  %select(id="select-molecule-number")
                    %option(value="10") 10
                    %option(value="20" selected) 20
                    %option(value="50") 50
                    %option(value="100") 100
                    %option(value="200") 200
                    %option(value="500") 500
              %li
                %fieldset
                  %legend Temperature Control
                  %input(id="temperature-control-checkbox" type="checkbox")
                  %select(id="select-temperature")
                    %option(value="25") 25
                    %option(value="20") 20
                    %option(value="15") 15
                    %option(value="10") 10
                    %option(value="5" selected) 5
                    %option(value="0") 0
              %li
                %fieldset
                  %legend Particle Force Interactions
                  %label
                    Lennard-Jones
                    %input(id="lennard-jones-forces-checkbox" type="checkbox" checked)
                  %label
                    Coulomb
                    %input(id="coulomb-forces-checkbox" type="checkbox")
              %br
              %ul
                %li
                  %fieldset#stats-container
                    %legend Stats
                    %pre#stats

    #datatable
      %ul
        %li
          %button#toggle-datatable Show Data Table
        %li
          %table#datatable-table

    #benchmarks
      %ul
        %li
          %button#start-benchmarks Run Benchmarks
        %li
          %table#benchmarks-table

    .description
      %h2 About the Simple Molecules model
      %p
        A computational simulation of a collection of neutral atoms with the forces between
        the atoms modeled with both the Lennard-Jones Potential which models Pauli repulsion at
        short ranges and the attractive van der Waals forces that act over longer-ranges as well
        as Coulomb forces which describe the forces between atoms of diferent charges.
      %p
        You can select how many molecules to use and what the temperature should be.
        The model will automatically stop after 50 nano-seconds of model simulation time
        (5000 model-steps). When you lower the temperature molecules will group together
        and freeze into a solid-like state. Increase the temperature to change the state to a
        gas. Somewhere in between the behavior of the molecules are more like a liquid.
      %p
        Charges of +1 or -1 are evenly distributed among the atoms. When the Coulomb particle
        force interaction checkbox is enabled atoms with the opposite charges experience an
        attractive force. Atoms with similar charges experience a repulsive force. Atoms
        with a positive charge appear green, atoms with a negative charge appear red.
      %h2 About the Lennard-Jones potential graph
      %p
        The Lennard-Jones potential is a simple model describing the forces between
        a pair of neutral atoms or molecules. When two atoms are very close there is strong
        repulsion, a little further away the forces are zero, just a bit further there is a
        weak attraction that then drops as the atoms move further apart.
      %p
        In the graph above you can change two parameters of the Lennard-Jones equation modeling
        these forces by either changing the depth of the potential well by dragging epsilon up
        and down or changing the zero point for the potential by dragging sigma left and right.
      %h2 User Interface
      %ul
        %span.key-command Keyboard Shortcuts:
        %li
          %span.key-command Space:
          single step the model forward
        %li
          %span.key-command Return:
          continuously step the model forward
        %li
          %span.key-command Left-Arrow:
          step the model backwards through history
        %li
          %span.key-command Right-Arrow:
          step the model forwards through history
      %p Only the last 1000 model steps are saved.
      %ul
        %span.key-command Interacting with the Graphs:
        %li
          %span.key-command Translate/Pan:
          drag on the graph canvas
        %li
          %span.key-command Zoom in:
          double-click or swipe up with two fingers
        %li
          %span.key-command Zoom out:
          shift-double-click or swipe down with two fingers
        %li
          %span.key-command Re-scale the axes:
          drag on one of the X or Y axis numeric labels
      %h2 References:
      %p
        %a{:href => "http://en.wikipedia.org/wiki/Lennard-Jones_potential"} Wikipedia: Lennard-Jones Potential
      %p
        The  three different graphs and the molecular visualization use the html5 visualization framework:
        %a(href="http://mbostock.github.com/d3/") d3.js

    %script{:src => "../../lab/lab.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}
