!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Upgrade Your Browser - HTML5-based scientific models, visualizations, graphing, and probeware
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
    = FONTFACE_LINK
  %body
    %h1 Sorry, but you'll need an upgrade to use the Lab Framework
    .column1
      %p The HTML5-based scientific models, visualizations, graphing, and probeware examples on this website require an SVG-capable web browser. Your browser does not support SVG. Please consider upgrading.
      %p Pendulum Model. An example of what you'll be able to work with once you've upgraded your browser:
      %img.float-right(src="lab/resources/interactive-screenshot.jpg" alt="Pendulum Model. An example of what you'll be able to work with once you've upgraded your browser." title="Pendulum Model. An example of what you'll be able to work with once you've upgraded your browser.")
      %h3 Minimum Desktop Browser Requirements
      %ul
        %li
          %a(href="http://www.google.com/chrome/" title="Get the latest version of Google's Chrome web browser")Google Chrome
          version 7 or above
        %li
          %a(href="http://www.firefox.com/" title="Get the latest version of the Firefox web browser")Mozilla Firefox
          version 4 or above
        %li
          %a(href="http://www.apple.com/safari/" title="Get the latest version of Apple's Safari web browser")Apple Safari
          version 5.1 or above
        %li
          %a(href="http://www.microsoft.com/ie/" title="Get the latest version of Microsoft's Internet Explorer web browser")Microsoft Internet Explorer
          version 9 or above
        %li
          %a(href="http://www.opera.com/" title="Get the latest version of the Opera web browser")Opera
          11.6 or above
      %h3 Minimum Tablet Requirements
      %ul
        %li iPad 2 or newer running iOS 5.0 or above
        %li Android tablet running Android 4.0 or above
      %h3 Other Mobile Devices
      %p While these models and visualizations may function on smaller mobile devices such as a cell phone, we do not recommend using one to view them.
