$directory: "."

@import 'sass/bourbon/bourbon'
@import 'sass/variables'
@import 'sass/neat/neat'
@import 'sass/lab/lab'

html, body
  @include fill-parent
  height: 100%
  overflow: hidden
  background: transparent
