!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTML5-based scientific models, visualizations, graphing, and probeware
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1 HTML5-based scientific models, visualizations, graphing, and probeware
    %h2 Examples
    #examples.item-list
      %ul
        %li
          %a{:href => 'examples/simplegraph/simplegraph.html'} simple graph
        %li
          %a{:href => 'examples/seasons/canberra-question.html'} seasons/canberra-question
        %li
          %a{:href => 'examples/surface-temperature/surface-temperature.html'} surface-temperature
        %li
          %a{:href => 'examples/simpleforce/simpleforce.html'} simpleforce
        %li
          %a{:href => 'examples/simplecollision/simplecollision.html'} simplecollision
        %li
          %a{:href => 'examples/simplebeam/simplebeam.html'} simplebeam
        %li
          %a{:href => 'examples/lennard-jones-potential/lennard-jones-potential.html'} lennard-jones-potential
        %li
          %a{:href => 'examples/simplemolecules/simplemolecules.html'} simplemolecules
        %li
          %a{:href => 'examples/simplemolecules2/simplemolecules.html'} even simpler simple molecules
        %li
          %a{:href => 'examples/thermometer/thermometer.html'} thermometer example
        %li
          %a{:href => 'examples/integration-methods/integration-methods.html'} integration-methods

    %h2 Documentation
    #documentation.item-list
      %ul
        %li
          %a{:href => 'readme.html'} Technical Read Me
        %li
          %a{:href => 'https://github.com/concord-consortium/lab'} souce code
      