!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTML5-based scientific models, visualizations, graphing, and probeware
    %script{:src => "vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "vendor/d3/d3.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      $(document).ready(function() { if (!Modernizr.svg) { $('body').prepend('<div class="warning">Sorry, but you\'ll need to upgrade your browser to use the models and visualizations. <a href="browser-upgrade.html">Learn more</a> &raquo;</div>'); } });
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="resources/layout/cc-logo.png")
      %h1<
        %a(href='../../..')> Lab
        \: HTML5-based scientific models, visualizations, graphing, and probeware

    #under-header-links
      %a{:href => 'readme.html'} Read Me
      &nbsp;&nbsp;
      %a{:href => 'license.html'} License
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab'} Github Repository
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab/issues'} Github Issues
      &nbsp;&nbsp;
      %a{:href => 'https://www.pivotaltracker.com/projects/442903'} Pivotal Tracker Project
      &nbsp;&nbsp;
      %a{:href => 'https://groups.google.com/group/lab-models'} Developer Mail List
      &nbsp;&nbsp;
      %a{:href => 'https://travis-ci.org/concord-consortium/lab'} CIS (travis-ci)
      &nbsp;&nbsp;
      %a{:href => 'experiments/navigator/index.html'} Browser Check


    #content
      .column1
        .item-list
          %h2 Next Generation MW Examples
          %ul
            %li
              %a{:href => 'examples/interactives/interactives.html'} Interactive Browser
            %li
              %a{:href => 'doc/interactives/sampler/index.html'} Interactive Sampler

        .item-list
          %h2 Conversion of Classic MW Models
          %ul
            %li
              %a{:href => 'imports/legacy-mw-content/legacyMMLRunnables.html'} Big List of Converted Models

        .item-list
          %h2 Molecular Modeling Documentation/Support
          %ul
            %li
              %a{:href => 'imports/legacy-mw-content/tutorial.html'} Java Molecular Workbench Tutorial/Reference Manual
            %li
              %a{:href => 'http://blog.concord.org/mw-applets-and-mwscript-javascript-interactions'} MW applets and MWScript-JavaScript interactions
            %li
              %a{:href => 'doc/models/md2d/lennard-jones-potential/lennard-jones-potential.html'} Lennard-Jones Potential
            %li
              %a{:href => 'doc/models/md2d/macroscopic-units/'} Unit Transformations for Modeling Macroscopic Phenomena

      .column2
        .item-list
          %h2
            %a{:href => 'energy2d.html'} Energy2D Examples
          %ul
            %li
              %a{:href => 'examples/energy2d-model/energy2d-model.html'} Energy2D
            %li
              %a{:href => 'examples/energy2d-gpu-model/energy2d-model.html'} Energy2D with WebGL support

        .item-list
          %h2 Grapher Examples
          %ul
            %li
              %a{:href => 'examples/grapher/grapher.html'} Basic Grapher
            %li
              %a{:href => 'examples/grapher-bar-graph/bar-graph.html'} Bar Graph
            %li
              %a{:href => 'experiments/dsp/dsp.html'} Digital Signal Processing Graphs

        .item-list
          %h2 Probeware Examples
          %ul
            %li
              %a{:href => 'experiments/goio-sensor-grapher/index.html'} Vernier GoIO Sensor Grapher

        .item-list
          %h2 Inquiry Space Integration
          %ul
            %li
              %a{:href => 'experiments/inquiry-space-importer/'} InquirySpace: Sensor Data Collector
              %i (probeware)
            %li
              %a{:href => 'experiments/netlogo-is-exporter/models.html'} InquirySpace: NetLogo Exporter

        .item-list
          %h2 VISUAL Integration
          %ul
            %li
              %a{:href => 'experiments/netlogo-visual/models.html'} VISUAL: NetLogo Interactives

      #experiments-divider
      .column1
        .item-list
          %h2 Experiments
          %ul
            %li
              %a{:href => 'experiments/html-layout/html-layout.html'} HTML Layout for Interactives
            %li
              %a{:href => 'experiments/grid-layout/grid-layout.html'} Grid Layout for Interactives
            %li
              %a{:href => 'experiments/semantic-layout/semantic-layout.html'} Semantic Layout for Interactives
            %li
              %a{:href => 'experiments/netlogo-grapher/index.html'} NetLogo Applet displaying model output in Lab Grapher
            %li
              %a{:href => 'experiments/energy2d-applet/index.html'} Energy2D Applet
            %li
              %a{:href => 'experiments/colors/index.html'} Colors for Heatmaps
            %li
              %a{:href => 'experiments/webgl-gpgpu/webgl.html'} WebGL GPGPU (reading a floating point texture)
            %li
              %a{:href => 'experiments/mw-applet/index.html'} Molecular Workbench Java Applet
            %li
              %a{:href => 'examples/integration-methods/integration-methods.html'} Integration Methods
            %li
              %a{:href => 'experiments/simple-graphs-closures/one-graph.html'} One Graph Test (closure-pattern)
            %li
              %a{:href => 'experiments/simple-graphs-closures/two-graphs.html'} Two Graphs Test (closure-pattern)
            %li
              %a{:href => 'experiments/simple-graphs/one-graph.html'} One Graph Test (prototypical class-pattern)
            %li
              %a{:href => 'experiments/simple-graphs/two-graphs.html'} Two Graphs Test (prototypical class-pattern)
