!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTML5-based scientific models, visualizations, graphing, and probeware
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1 HTML5-based scientific models, visualizations, graphing, and probeware
    %h2 Molecular Modeling Examples
    %div.item-list
      %ul
        %li
          %a{:href => 'examples/simple-atoms-model/simple-atoms-model.html'} Simple Atoms Model
        %li
          %a{:href => 'examples/simple-atoms-model-controls-in-text/simple-atoms-model-controls-in-text.html'} Simple Atoms Model with controls in text
        %li
          %a{:href => 'examples/complex-atoms-model/complex-atoms-model.html'} More Complex Atoms Model

    %h2 Graphing Examples
    %div.item-list
      %ul
        %li
          %a{:href => 'examples/surface-temperature/surface-temperature.html'} Earth's Surface Temperature
        %li
          %a{:href => 'examples/seasons/canberra-question.html'} Question about seasonal temperatures and geography
        %li
          %a{:href => 'examples/lennard-jones-potential/lennard-jones-potential.html'} Lennard-Jones-Potential
        %li
          %a{:href => 'examples/simplegraph/simplegraph.html'} Simple Graph

    %h2 Experiments
    %div.item-list
      %ul
        %li
          %a{:href => 'examples/test-components/application.html'} Unwired Components Test
        %li
          %a{:href => 'examples/components/components.html'} Components Atom Model
        %li
          %a{:href => 'examples/simplemolecules/simplemolecules.html'} Complex Atoms Model with Graphs
        %li
          %a{:href => 'examples/integration-methods/integration-methods.html'} Integration Methods
        %li
          %a{:href => 'examples/simpleforce/simpleforce.html'} simpleforce
        %li
          %a{:href => 'examples/simplecollision/simplecollision.html'} simplecollision
        %li
          %a{:href => 'examples/simplebeam/simplebeam.html'} simplebeam

    %h2 Tests
    %div.item-list
      %ul
        %li
          %a{:href => 'tests/simple-graphs/one-graph.html'} One Graph Test (prototypical class-style)
        %li
          %a{:href => 'tests/simple-graphs/two-graphs.html'} Two Graphs Test (prototypical class-style)
        %li
          %a{:href => 'tests/times-series-chart/one-chart.html'} One Chart Test (closure-style)
        %li
          %a{:href => 'tests/times-series-chart/more-charts.html'} More Charts Test (closure-style)


    %h2 Documentation
    %div.item-list
      %ul
        %li
          %a{:href => 'readme.html'} Read Me
        %li
          %a{:href => 'license.html'} License
        %li
          %a{:href => 'https://github.com/concord-consortium/lab'} Source Code Repository

