$directory: "."

@import 'sass/bourbon/bourbon'
@import 'sass/lab/fonts'
@import 'sass/lab/common'

html
  margin: 0em
  padding: 0em

body
  font-family: labFontface(), Verdana, Geneva, sans-serif
  margin: 0
  padding: 15px
  background-color: #fff
  color: #3f3f3f

h1
  color: #333
  font-family: labFontface(), georgia, times, 'times new roman', serif
  font-weight: 600
  font-size: 1.3em
  a
    text-decoration: none

ul
  list-style-type: none

a
  text-decoration: none
  font-weight: 500
  color: #028288
  &:visited
    color: #028288
  &:hover
    color: #009BA3

.warning
  background: #FFE5E5
  padding: 10px
  border-radius: 20px

.column1
  display: inline-block
  width: 700px

.column2
  display: inline-block
  vertical-align: top
  width: 220px

