body
  font: 16px sans-serif
  margin: 12px 24px 12px 24px
  background-color: #FFFFFF

#fullscreen img
  margin-top: 8px
  cursor: pointer

a
  color: black
  &:hover
    font-weight: bolder


h1
  font: 20px sans-serif

h2
  font: 18px sans-serif

h3
  font: 16px sans-serif

ul
  margin: 1em 0em 1em 0em
  padding: 0em 0em 0em 0em
  li
    margin: 0.3em 0.2em 0.3em 0.2em
    padding: 0em 0em 0em 0em

.item-list
  ul
    margin: 1em 1em 1em 1em
    padding: 0em 0em 0em 1em
    li
      margin: 0.5em 0.2em 0.5em 0.2em
      padding: 0em 0em 0em 0em
  ol
    margin: 1em 1em 1em 1em
    padding: 0em 0em 0em 1em
    li
      margin: 0.5em 0.2em 0.5em 0.2em
      padding: 0em 0em 0em 0em
  

h1
  font-size: 1.5em
  font-weight: bold

h2
  font-size: 1.2em
  font-weight: bold
