!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTML5-based scientific models, visualizations, graphing, and probeware
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1 HTML5-based scientific models, visualizations, graphing, and probeware 
    %h2 Examples
    #examples.item-list
      %ul
        %li
          %a{:href => 'examples/components/components.html'} Minimal Atoms Model
        %li
          %a{:href => 'examples/simplemolecules/simplemolecules.html'} More Complex Atoms Model
        %li
          %a{:href => 'examples/surface-temperature/surface-temperature.html'} Earth's Surface Temperature

    %h2 In Progress
    #inprogress.item-list
      %ul
        %li
          %a{:href => 'examples/seasons/canberra-question.html'} Question about seasonal temperatures and geography 

    %h2 Experiments
    #experiments.item-list
      %ul
        %li
          %a{:href => 'examples/integration-methods/integration-methods.html'} Integration Methods
        %li
          %a{:href => 'examples/lennard-jones-potential/lennard-jones-potential.html'} lennard-jones-potential
        %li
          %a{:href => 'examples/simpleforce/simpleforce.html'} simpleforce
        %li
          %a{:href => 'examples/simplecollision/simplecollision.html'} simplecollision
        %li
          %a{:href => 'examples/simplebeam/simplebeam.html'} simplebeam   

    %h2 Documentation
    #documentation.item-list
      %ul
        %li
          %a{:href => 'readme.html'} Technical Read Me
        %li
          %a{:href => 'https://github.com/concord-consortium/lab'} souce code
      
