!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Energy2D Using JavaScript and WebGL
    %script{:src => "../../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:src => "../../../vendor/d3/d3.js", :type => "text/javascript"}
    %script{:src => "../../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      $(document).ready(function() { if (!Modernizr.svg) { $('body').prepend('<div class="warning">Sorry, but you\'ll need to upgrade your browser to use the models and visualizations. <a href="browser-upgrade.html">Learn more</a> &raquo;</div>'); } });
    %link{:href => "../../../index.css", :rel => "stylesheet", :type => "text/css"}/
    = FONTFACE_LINK

  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="../../../lab/resources/layout/cc-logo.png")
      %h1<
        %a(href='../../../index.html')> Lab
        \:
        %a(href="") Energy2D Using JavaScript and WebGL

    #under-header-links
      %a{:href => '../../../readme.html'} Read Me
      &nbsp;&nbsp;
      %a{:href => '../../../license.html'} License
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab'} Github Repository
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab/issues'} Github Issues
      &nbsp;&nbsp;
      %a{:href => 'https://www.pivotaltracker.com/projects/442903'} Pivotal Tracker Project
      &nbsp;&nbsp;
      %a{:href => 'https://groups.google.com/group/lab-models'} Developer Mail List
      &nbsp;&nbsp;
      %a{:href => '../../../experiments/navigator/index.html'} Browser Check

    .column1
      .item-list
        %h2
          Energy2D Sample Interactives
        %p
          %a{:href=>"../../../interactives.html#interactives/energy2d/imported/benard-cell.json", :target=>"_blank"}Bénard Convection Cells: A Self-Organizing Pattern of Fluid Flow
        .iframe-container
          %iframe{:width => 420, :height => 420, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/energy2d/imported/benard-cell.json' }

        %p
          %a{:href=>"../../../interactives.html#interactives/energy2d/imported/reynolds.json", :target=>"_blank"}The Reynolds Number: Laminar Flow vs. Turbulent Flow
        .iframe-container
          %iframe{:width => 420, :height => 420, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/energy2d/imported/reynolds.json' }

        %p
          %a{:href=>"../../../interactives.html#interactives/energy2d/htb/S3A1.json", :target=>"_blank"}Heat conduction through materials
        .iframe-container
          %iframe{:width => 420, :height => 280, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/energy2d/htb/S3A1.json' }

        %p
          %a{:href=>"../../../interactives.html#interactives/energy2d/imported/hot-water-cup-open-vs-closed.json", :target=>"_blank"}Energy Loss from Hot Water: An Open Cup vs. a Closed Cup
        .iframe-container
          %iframe{:width => 420, :height => 420, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/energy2d/imported/hot-water-cup-open-vs-closed.json' }

        %p
          %a{:href=>"../../../interactives.html#interactives/energy2d/imported/solar-heating-convection.json", :target=>"_blank"}Solar Heating in a House
        .iframe-container
          %iframe{:width => 420, :height => 420, :scrolling => "no", :allowfullscreen => "true", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :src => '../../../embeddable.html#interactives/energy2d/imported/solar-heating-convection.json' }

    .column2
      .item-list
        %h2
          Status
        %p
          %b
            Update 2013-07, Lab version 0.5.3:
          The Energy2D work has been integrated into Lab
          as a new model-type and now uses the standard Lab Interactive form. In addition the
          WebGL conduction and convection solvers and renderers have been integrated into the
          new model-type.
        %p
          Piotr Janik, a Google Summer of Code student working with us at the Concord Consortium
          in the summer of 2012 created a JavaScript implementation of the Java application
          %a{:href => 'http://energy.concord.org/energy2d'} Energy2D
          originally created by Charles Xie at the Concord Consortium.
        %p
          Energy2D simulates thermal conductivity, convection, and radiation in a an authorable
          2D environment. The JavaScript implementation of Energy2D
          supports over 100 different models originally written for the Java version of Energy2D.
        %p
          The Java version of Energy2D uses a 100x100 cell grid size. This means that the program is
          performing a large number of complex array operations on 10,000 cells for every model step.
          Almost 18 months ago Stephen Bannasch at the Concord Consortium wondered if these modern
          browsers were now fast enough to perform these calculaions entirely in JavaScript and
          created the initial JavaScript implementation of Energy2D. The suprisingly fast results
          convinced us it is now feasible to run complex simulations of this kind in the browser.
          Piotr extended and re-architected this early prototype to complete the physics
          modeling and greatly expand the view features. However in this summer's effort we didn't
          focus on making a web-based authoring environment for creating new models. Instead we
          implemented scripts to automatically convert the XML-based serialization format to JSON.
          Currently the Java version of Energy2D models is used to create new models.
        %p
          At the end of the summer Piotr re-implemented the physics solvers and views for
          Energy2D in WebGL to find out whether this was practical and what performance
          gains might be possible. We have only implemented a few of the 80 models in
          %a{:href => '../../../examples/energy2d-gpu-model/energy2d-model.html'} Energy2D-WebGL
          but initial results indicate speedups ranging from 2X to 15X!
        %p
          Piotr's article:
          %i
            Under the Hood: Using WebGL to Accelerate Advanced Physics Simulations in the Browser
          is available on page 14 of our
          %a{:href => 'http://concord.org/sites/default/files/newsletters/2012/fall/at-concord-fall-2012.pdf#page=14'} Fall 2012
          newsletter. This article and the source code for the
          %a{:href => 'https://github.com/concord-consortium/lab/tree/master/src/lab/energy2d/models/physics-solvers'} JavaScript
          and
          %a{:href => 'https://github.com/concord-consortium/lab/tree/master/src/lab/energy2d/models/physics-solvers-gpu'} GPGPU-based
          heat solvers in Energy2D provide a good introduction to this topic.
        %p
          The speedups are particularly noticable in the following cases:
          %ul.item-list
            %li
              Large models
              %p
                Moving from a 100x100 simulation grid to 500x500 cells increases
                the computational load 25 times. Implemented in JavaScript without using WebWorkers
                this means each model step is now 25 times slower. However these kind of grid-based
                algorithms can be effectively run in parallel and see great speedups when running
                in WebGL.
            %li
              Slower browsers
              %p
                JavaScript Energy2D will run somehwat slowly in Android smartphones available today.
                However the beta version of Firefox for Android supports WebGL and the models run
                much faster using this capability.
            %li
              Smaller Time Steps
              %p
                Certain models may benefit from using a more fine-grained model time-step.
            %li
              Energy3D
              %p
                It might be practical to make a 3D version with the increased performance available
                running in WebGL.
