<!DOCTYPE html>
<html>
  <head>
    <% if @converter.root.options[:encoding] %>
    <meta http-equiv="Content-type" content="text/html;<%= @converter.root.options[:encoding] %>">
    <% end %>
<%
extend ::Kramdown::Utils::Html
title = ''
h = @converter.root.children.find {|c| c.type == :header}
if h
  collector = lambda {|c| c.children.collect {|cc| cc.type == :text ? escape_html(cc.value, :text) : collector.call(cc)}.join('')}
  title = collector.call(h)
end
%>
    <title><%= title %></title>
    <meta name="generator" content="kramdown <%= ::Kramdown::VERSION %>" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&amp;subset=latin,greek,latin-ext' rel='stylesheet' type='text/css' />
    <link href="../readme.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <%= @body %>
    </div>
  <script src="../vendor/hijs/hijs.js"></script>
  </body>
</html>