!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Compare HTML5 and Java 2D Molecular Models
    %script{:src => "../../vendor/modernizr/modernizr.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      if (!Modernizr.svg) { window.location = '../../browser-upgrade.html'; }
    %link{:href => "../examples.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../vendor/d3/d3.js", :type => "text/javascript"}
    %script{:src => "../../vendor/jquery/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../../vendor/science.js/science.v1.js", :type => "text/javascript"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "application.css", :rel => "stylesheet", :type => "text/css"}/
    = ANALYTICS
  %body
    #content
      #top-controls
        .component_group
          %form
            %fieldset
              %legend
                Available models
              %select#model-select
                %option{:value => "select-a-model", :disabled => true} Select a Model


        .component_group{:style => "margin-left:2em;"}
          .content
            %div
              %button#start(type="button" class="left_edge" value="colder")Start
              %button#stop(type="button" class="right_edge" value="hotter")Stop
              %button#reset(type="button" class="right_edge" value="hotter")Reset
      #viz
        .top
          .top-left
            #model-container
          .top-right
            #applet-container

    %script{:src => "../../lab/lab.js", :type => "text/javascript"}
    %script{:src => "../../imports/legacy-mw-content/model-list.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}
